{include file="public/header"}
<body>
<div class="page-content clearfix">
 <div class="alert alert-block alert-success">
  <button type="button" class="close" data-dismiss="alert"><i class="icon-remove"></i></button>
  <i class="icon-ok green"></i>欢迎使用<strong class="green">后台管理系统<small>(v1.2)</small></strong>,你本次登陆时间为<?php echo date('Y年m月d日H时i分s秒',time()); ?>，登陆IP:{$Request.ip}.	
 </div>
 <div class="state-overview clearfix">
                  <div class="col-lg-3 col-sm-6">
                      <section class="panel">
                      <a href="#" title="商城会员">
                          <div class="symbol terques">
                             <i class="icon-user"></i>
                          </div>
                          <div class="value">
                              <h1>{$usercount}</h1>
                              <p>商城用户</p>
                          </div>
                          </a>
                      </section>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                      <section class="panel">
                          <div class="symbol red">
                              <i class="icon-tags"></i>
                          </div>
                          <div class="value">
                              <h1>{$artcount}</h1>
                              <p>商城公告</p>
                          </div>
                      </section>  
                  </div>
                  <div class="col-lg-3 col-sm-6">
                      <section class="panel">
                          <div class="symbol yellow">
                              <i class="icon-shopping-cart"></i>
                          </div>
                          <div class="value">
                              <h1>{$ordercount}</h1>
                              <p>商城订单</p>
                          </div>
                      </section>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                      <section class="panel">
                          <div class="symbol blue">
                              <i class="icon-bar-chart"></i>
                          </div>
                          <div class="value">
                              <h1 style="font-size: 21px;">￥{$sumprice}</h1>
                              <p>交易记录</p>
                          </div>
                      </section>
                  </div>
              </div>
             <!--实时交易记录-->
             <div class="clearfix">
              <div class="Order_Statistics ">
          <div class="title_name">订单统计信息</div>
           <table class="table table-bordered">
           <tbody>
           <tr><td class="name">未处理订单：</td><td class="munber"><a href="#">{$orderinfo['wait']}</a>&nbsp;个</td></tr>
           <tr><td class="name">待发货订单：</td><td class="munber"><a href="#">{$orderinfo['shipping']}</a>&nbsp;个</td></tr>
           <tr><td class="name">待结算订单：</td><td class="munber"><a href="#">{$orderinfo['jiesuan']}</a>&nbsp;个</td></tr>
           <tr><td class="name">已成交订单数：</td><td class="munber"><a href="#">{$orderinfo['success']}</a>&nbsp;个</td></tr>
           <tr><td class="name">交易失败：</td><td class="munber"><a href="#">{$orderinfo['faild']}</a>&nbsp;个</td></tr>
           </tbody>
          </table>
         </div> 
         <div class="Order_Statistics">
          <div class="title_name">商品统计信息</div>
           <table class="table table-bordered">
           <tbody>
           <tr><td class="name">商品总数：</td><td class="munber"><a href="#">{$goodscount}</a>&nbsp;个</td></tr>
           <tr><td class="name">回收站商品：</td><td class="munber"><a href="#">{$goodsinfo['hui']}</a>&nbsp;个</td></tr>
           <tr><td class="name">上架商品：</td><td class="munber"><a href="#">{$goodsinfo['sale']}</a>&nbsp;个</td></tr>
           <tr><td class="name">下架商品：</td><td class="munber"><a href="#">{$goodsinfo['nosale']}</a>&nbsp;个</td></tr>
           <tr><td class="name">商品评论：</td><td class="munber"><a href="#">{$goodsinfo['reply']}</a>&nbsp;条</td></tr>

           </tbody>
          </table>
         </div> 
         <div class="Order_Statistics" style="width: 380px">
          <div class="title_name">【{$admininfo['username']}】 个人信息</div>
           <table class="table table-bordered">
           <tbody>
           <tr><td class="name">管理员角色：</td><td class="munber"><a href="#">{$admininfo['role_name']}</a></td></tr>
           <tr><td class="name">角色描述：</td><td class="munber"><a href="#">{$admininfo['role_desc']}</a></td></tr>
           <tr><td class="name">添加时间：</td><td class="munber"><a href="#">{$admininfo['add_time']|date="Y-m-d H:i:s",###}</a></td></tr>
           <tr><td class="name">上次登录：</td><td class="munber"><a href="#">{$admininfo['last_login']|date="Y-m-d H:i:s",###}</a></td></tr>
           <tr><td class="name">上次登录IP：</td><td class="munber"><a href="#">{$admininfo['last_ip']}</a></td></tr>
           </tbody>
          </table>
         </div> 
             <!--<div class="t_Record">
               <div id="main" style="height:300px; overflow:hidden; width:100%; overflow:auto" ></div>     
              </div> -->
         <div class="news_style" style="width: 310px">
            <div class="title_name">操作日志</div>
            <ul class="list">
            {foreach $log as $v}
             <li ><i class="icon-bell red"></i><a href="#" >{$v['log_info']}</a> <span style="float: right;">{$v['log_time']|date="m-d H:i",###}</span style="float: right;"></li>
            {/foreach}
            
            </ul>
           </div> 
         </div>
       
 <!--记录-->
 <div class="clearfix">
  <div class="home_btn">
     <div>
     <a href="{:url('Goods/addgoods')}"  title="添加商品" class="btn  btn-info btn-sm no-radius">
     <i class="bigger-200"><img src="__ADMIN__/images/icon-addp.png" /></i>
     <h5 class="margin-top">添加商品</h5>
     </a>
     <a href="{:url('spec/specmanage')}"  title="产品分类" class="btn  btn-primary btn-sm no-radius">
     <i class="bigger-200"><img src="__ADMIN__/images/icon-cpgl.png" /></i>
     <h5 class="margin-top">产品分类</h5>
     </a>
    
     <a href="{:url('index/systems')}"  title="系统设置" class="btn  btn-info btn-sm no-radius">
     <i class="bigger-200"><img src="__ADMIN__/images/xtsz.png" /></i>
     <h5 class="margin-top">系统设置</h5>
     </a>
     <a href="{:url('order/orderForm')}"  title="商品订单" class="btn  btn-purple btn-sm no-radius">
     <i class="bigger-200"><img src="__ADMIN__/images/icon-gwcc.png" /></i>
     <h5 class="margin-top">商品订单</h5>
     </a>
     <a href="picture-add.html"  title="添加广告" class="btn  btn-pink btn-sm no-radius">
     <i class="bigger-200"><img src="__ADMIN__/images/icon-ad.png" /></i>
     <h5 class="margin-top">添加广告</h5>
     </a>
      <a href="{:url('article/addarticle')}"  title="添加文章" class="btn  btn-info btn-sm no-radius">
     <i class="bigger-200"><img src="__ADMIN__/images/icon-addwz.png" /></i>
     <h5 class="margin-top">添加文章</h5>
     </a>
      <a  title="清理缓存" class="btn  btn-danger btn-sm no-radius" onclick="cleartemp()">
       <i class="bigger-200"><img src="__ADMIN__/images/icon-clean.png" width="36" /></i>
       <h5 class="margin-top">清理缓存</h5>
     </a>
     </div>
  </div>
 
 </div>
   
     </div>
</body>
</html>
<script type="text/javascript">
/*
function cleartemp() {
  //alert(123);
  layer.alert('你好');
}
*/

//面包屑返回值
var index = parent.layer.getFrameIndex(window.name);
parent.layer.iframeAuto(index);
$('.no-radius').on('click', function(){
	var cname = $(this).attr("title");
	var chref = $(this).attr("href");
	var cnames = parent.$('.Current_page').html();
	var herf = parent.$("#iframe").attr("src");
    parent.$('#parentIframe').html(cname);
    parent.$('#iframe').attr("src",chref).ready();;
	parent.$('#parentIframe').css("display","inline-block");
	parent.$('.Current_page').attr({"name":herf,"href":"javascript:void(0)"}).css({"color":"#4c8fbd","cursor":"pointer"});
	//parent.$('.Current_page').html("<a href='javascript:void(0)' name="+herf+" class='iframeurl'>" + cnames + "</a>");
    parent.layer.close(index);
	
});
     $(document).ready(function(){
		 
		  $(".t_Record").width($(window).width()-640);
		  //当文档窗口发生改变时 触发  
    $(window).resize(function(){
		 $(".t_Record").width($(window).width()-640);
		});
 });
	 
	 
 </script>   