{include file="public/link1"}
{include file="public/navigation"}
<link rel="stylesheet" type="text/css" href="__STATIC__/admin/assets/layui/css/layui.css">
<script src="__STATIC__/admin/assets/layui/layui.js"></script>
<script src="__STATIC__/admin/assets/layer/layer.js"></script>
    <!--内容开始-->
    <div class="payment-interface w1200">
    	<div class="pay-info">
        	<div class="info-tit">
            	<h3>选择收货地址</h3>
            </div>
            <ul class="pay-dz">
                {if !empty($userAddr)}
                {foreach $userAddr as $usr}

            	<li name="{$usr['address_id']}" {if $usr['is_default'] == 1}class="current"{/if}>

                	<h3><span class="sp1">{$usr['province']}</span><span class="sp2">{$usr['city']}</span>（<span class="sp3">{$usr['consignee']}</span> 收）</h3>
                    <p><span class="sp1">{$usr['district']}{$usr['twon']}{$usr['address']}</span><span class="sp2">{$usr['mobile']}</span></p>
                    <a href="JavaScript:;" xiugai="">修改</a>
                </li>

                {/foreach}
                {/if}

                <div style="clear:both;"></div>
            </ul>
            <P class="pay-xgdz">修改地址和使用新地址样式一样。</P>
            <button class="pay-xdz-btn" onclick="window.location.href='__PUBLIC__/index/user/deliveryaddress';">使用新地址</button>
        </div>
        <div class="pay-info">

            <div class="info-tit" style="border-bottom:0;">
                <h3>支付方式</h3>
            </div>
            <div>
                <button type="" index="cod" class="layui-btn layui-btn-normal" onclick="changepay(this)">货到付款</button>
                <button type="" index="online" class="layui-btn layui-btn-primary"  onclick="changepay(this)">支付宝</button>
                <button type="" index="online" class="layui-btn layui-btn-primary"  onclick="changepay(this)">微信</button>
                <button type="" index="online" class="layui-btn layui-btn-primary"  onclick="changepay(this)">财付通</button>
                <button type="" index="online" class="layui-btn layui-btn-primary"  onclick="changepay(this)">百度钱包</button>
                <button type="" index="online" class="layui-btn layui-btn-primary"  onclick="changepay(this)">微博支付</button>
                <button type="" index="online"  class="layui-btn layui-btn-primary"  onclick="changepay(this)">翼支付</button>
                <button type="" index="online" class="layui-btn layui-btn-primary"  onclick="changepay(this)">网银支付</button>
            </div>

        </div>
        <div class="pay-info">
        	<div class="info-tit" style="border-bottom:0;">
            	<h3>订单信息</h3>
            </div>
        </div>
        <div class="cart-con-info">

        	<div class="cart-con-tit" style="margin:20px 0 5px;">
                <p class="p1" style="width:367px;margin-left:30px;">
                    <span style="font-size:1.3em;font-weight:bold;">商品信息</span>
                </p>
                <p class="p3" style="font-size:1.2em;font-weight:bold;width:129px;">规格</p>
                <p class="p4" style="font-size:1.2em;font-weight:bold;width:113px;">数量</p>
                <p class="p8" style="font-size:1.2em;font-weight:bold;width:128px;">运费</p>
                <p class="p5" style="font-size:1.2em;font-weight:bold;width:199px;">单价（元）</p>
                <p class="p6" style="font-size:1.2em;font-weight:bold;width:173px;">金额（元）</p>
            </div>
            {foreach $userGoods as $usd}
            <div class="info-mid" name="{$usd['id']}">
                <div class="mid-tu f-l" style="margin-left:20px;">
                	<a href="{:url('index/shop/details',['goodsid'=>$usd['goods_id']])}"><img src="{$usd['image']}" width="80" /></a>
                </div>
                <div class="mid-font f-l" style="width:150px;margin-right:40px;margin-left:30px;">
                	<a href="{:url('index/shop/details',['goodsid'=>$usd['goods_id']])}">{$usd['goods_name']}</a>
                </div>
                <div class="mid-guige1 f-l" style="margin-right:40px;margin-left:40px;">
                	{$usd['spec_key_name']}
                </div>
                <div class="mid-sl f-l" style="margin:10px 54px 0px 0px;margin-left:30px;">
                    {$usd['goods_num']}
                </div>
                <p class="mid-yunfei f-l" style="margin-left:40px;width:70px;">¥ {$postage[$usd['goods_id']]}</p>
                <p class="mid-dj f-l" style="margin-left:20px;width:80px;">¥ {$usd['goods_price']}</p>
                <p class="mid-je f-l" style="margin:10px 50px 0px 0px;margin-left:20px;width:100px;">¥ {$totalPrice[$usd['goods_id']]}</p>

                <div style="clear:both;"></div>
            </div>
            {/foreach}
            <div class="info-heji">
                <div style="float:left;margin-left:30px;">
                    <p>备注信息</p>
                    <textarea name="" id="beizhu" style="width:200px;height:50px;"></textarea>
                </div>
                <p class="f-r">店铺合计(含运费)：¥<span id="totalAmount" >{$totalAmount}</span></p>
                <h3 id="orderNumber" class="f-r" index="{$orderNumber}">订单号：{$orderNumber}</h3>
            </div>



            <div class="info-heji">
                <button id="benefitTo" class="layui-btn layui-btn-warm" style="float:right;">使用优惠卷</button>
                <input type="text" name="youhui" required lay-verify="required" placeholder="请输入兑换码" autocomplete="off" class="layui-input" style="width:110px;float:right;margin-right:10px;">
            </div>

            <div class="info-heji">
                <button id="gradeTo" class="layui-btn layui-btn-warm" style="float:right;">积分兑换</button>
                <p name="jifen" style="float:right;">兑换 <span id="grade" >{$userGrade}</span> 元 </p>
            </div>

            <div class="info-tijiao">
            	<p class="p1">实付款：¥<span id="priceNow" >{$totalAmount}</span></p>
                <button class="btn" onclick="submitOrder()">提交订单</button>
            </div>
        </div>
    </div>

    <!--确认订单（新增地址）-->
    <div class="confirmation-tanchuang" xgdz1="">
    	<div class="tanchuang-bg"></div>
    	<div class="tanchuang-con">
        	<div class="tc-title">
            	<h3>新增地址</h3>
                <a href="JavaScript:;" dz-guan=""><img src="__STATIC__/images/close-select-city.gif" /></a>
                <div style="clear:both;"></div>
            </div>
            <ul class="tc-con2">
            	<li class="tc-li1">
                	<p class="l-p">所在地区<span>*</span></p>
                    <div class="xl-dz">
                    	<div class="dz-left f-l">
                        	<p>新疆</p>
                            <ul>
                            	<li class="current"><a href="#">新疆</a></li>
                            	<li><a href="#">甘肃</a></li>
                            	<li><a href="#">宁夏</a></li>
                            	<li><a href="#">青海</a></li>
                            	<li><a href="#">重庆</a></li>
                            	<li><a href="#">长寿</a></li>
                            </ul>
                        </div>
                        <div class="dz-right f-l">
                        	<p>乌鲁木齐</p>
                            <ul>
                            	<li class="current"><a href="#">乌鲁木齐</a></li>
                            	<li><a href="#">昌吉</a></li>
                            	<li><a href="#">巴音</a></li>
                            	<li><a href="#">郭楞</a></li>
                            	<li><a href="#">伊犁</a></li>
                            	<li><a href="#">阿克苏</a></li>
                            	<li><a href="#">喀什</a></li>
                            	<li><a href="#">哈密</a></li>
                            	<li><a href="#">克拉玛依</a></li>
                            	<li><a href="#">博尔塔拉</a></li>
                            	<li><a href="#">吐鲁番</a></li>
                            	<li><a href="#">和田</a></li>
                            	<li><a href="#">石河子</a></li>
                            	<li><a href="#">克孜勒苏</a></li>
                            	<li><a href="#">阿拉尔</a></li>
                            	<li><a href="#">五家渠</a></li>
                            	<li><a href="#">图木舒克</a></li>
                            	<li><a href="#">库尔勒</a></li>
                                <div style="clear:both;"></div>
                            </ul>
                        </div>
                    	<div style="clear:both;"></div>
                    </div>
                    <div style="clear:both;"></div>
                </li>
            	<li class="tc-li1">
                	<p class="l-p">详细地址<span>*</span></p>
                    <textarea class="textarea1" placeholder="请如实填写您的详细信息，如街道名称、门牌号、楼层号和房间号。"></textarea>
                    <div style="clear:both;"></div>
                </li>
            	<li class="tc-li1">
                	<p class="l-p">邮政编码<span></span></p>
                    <input type="text" />
                    <div style="clear:both;"></div>
                </li>
            	<li class="tc-li1">
                	<p class="l-p">收货人姓名<span>*</span></p>
                    <input type="text" />
                    <div style="clear:both;"></div>
                </li>
            	<li class="tc-li1">
                	<p class="l-p">联系电话<span>*</span></p>
                    <input type="text" />
                    <div style="clear:both;"></div>
                </li>
            </ul>
            <button class="btn-pst2">保存</button>
        </div>
    </div>

    <!--修改地址-->
    <div class="confirmation-tanchuang" xgdz2="">
    	<div class="tanchuang-bg"></div>
    	<div class="tanchuang-con">
        	<div class="tc-title">
            	<h3>新增地址</h3>
                <a href="JavaScript:;" dz-guan=""><img src="__STATIC__/images/close-select-city.gif" /></a>
                <div style="clear:both;"></div>
            </div>
            <ul class="tc-con2">
            	<li class="tc-li1">
                	<p class="l-p">所在地区<span>*</span></p>
                    <div class="xl-dz">
                    	<div class="dz-left f-l">
                        	<p>北京</p>
                            <ul>
                            	<li class="current"><a href="#">新疆</a></li>
                            	<li><a href="#">甘肃</a></li>
                            	<li><a href="#">宁夏</a></li>
                            	<li><a href="#">青海</a></li>
                            	<li><a href="#">重庆</a></li>
                            	<li><a href="#">长寿</a></li>
                            </ul>
                        </div>
                        <div class="dz-right f-l">
                        	<p>天安门</p>
                            <ul>
                            	<li class="current"><a href="#">乌鲁木齐</a></li>
                            	<li><a href="#">昌吉</a></li>
                            	<li><a href="#">巴音</a></li>
                            	<li><a href="#">郭楞</a></li>
                            	<li><a href="#">伊犁</a></li>
                            	<li><a href="#">阿克苏</a></li>
                            	<li><a href="#">喀什</a></li>
                            	<li><a href="#">哈密</a></li>
                            	<li><a href="#">克拉玛依</a></li>
                            	<li><a href="#">博尔塔拉</a></li>
                            	<li><a href="#">吐鲁番</a></li>
                            	<li><a href="#">和田</a></li>
                            	<li><a href="#">石河子</a></li>
                            	<li><a href="#">克孜勒苏</a></li>
                            	<li><a href="#">阿拉尔</a></li>
                            	<li><a href="#">五家渠</a></li>
                            	<li><a href="#">图木舒克</a></li>
                            	<li><a href="#">库尔勒</a></li>
                                <div style="clear:both;"></div>
                            </ul>
                        </div>
                    	<div style="clear:both;"></div>
                    </div>
                    <div style="clear:both;"></div>
                </li>
            	<li class="tc-li1">
                	<p class="l-p">详细地址<span>*</span></p>
                    <textarea class="textarea1" placeholder="请如实填写您的详细信息，如街道名称、门牌号、楼层号和房间号。"></textarea>
                    <div style="clear:both;"></div>
                </li>
            	<li class="tc-li1">
                	<p class="l-p">邮政编码<span></span></p>
                    <input type="text" />
                    <div style="clear:both;"></div>
                </li>
            	<li class="tc-li1">
                	<p class="l-p">收货人姓名<span>*</span></p>
                    <input type="text" class="shxm" />
                    <div style="clear:both;"></div>
                </li>
            	<li class="tc-li1">
                	<p class="l-p">联系电话<span>*</span></p>
                    <input type="text" class="lxdh" />
                    <div style="clear:both;"></div>
                </li>
            </ul>
            <button class="btn-pst2">保存</button>
        </div>
    </div>

    <script>

    if ($("#grade").html() == 0) {
        $("#gradeTo").attr('disabled', true);
        $("#gradeTo").css('backgroundColor', 'gray');
    }

    function changepay (obj) {
        $(obj).attr('class','layui-btn layui-btn-normal');
        $(obj).siblings().attr('class','layui-btn layui-btn-primary');
    }

    //使用优惠卷
    $('#benefitTo').on('click', function() {
        var val = $("input[name='youhui']").val();
        var total = $('#totalAmount').val();
        if (val.length > 0) {
            $.post("{:url('index/order/checkBenefit')}", {'benefit' : val, 'total' : total}, function(data) {
                console.log(data);
                if (data.error) {
                    alert('12');
                    layer.alert(data.message,{'icon':0});
                } else {
                    alert('23');
                    var price = $('#priceNow').html();
                    console.log(price)
                    price = parseInt(price) - parseInt(data.message);
                    console.log(price)
                    $('#priceNow').html(price);
                    console.log($('#priceNow').val());
                    $("input[name='youhui']").attr('index',data.message);
                    $("input[name='youhui']").val('优惠 '+data.message);
                    $("#benefitTo").attr('disabled', true);
                    $("#benefitTo").css('backgroundColor', 'gray');
                    layer.alert('兑换成功',{'icon':1})

                }
            })
        } else {
            layer.alert('请输入兑换码',{'icon':0});
        }
    })

    //使用积分
     $('#gradeTo').on('click', function() {
        var val = $("#grade").html();
        if (val < 1) {
            layer.alert('金额小于1元不支持兑换',{'icon':0});
        } else {
            $.post("{:url('index/order/checkGrade')}");
            var price = $('#priceNow').html();
            price = parseInt(price) - parseInt(val);
            $('#priceNow').html(price);
            $("#grade").html('优惠'+parseInt(val));
            $("#grade").attr('index',parseInt(val));
            $("#gradeTo").attr('disabled', true);
            $("#gradeTo").css('backgroundColor', 'gray');
            layer.alert('兑换成功',{'icon':1});
        }
    })

    //提交订单按钮
    function submitOrder()
    {
        if ($('.pay-dz li').length > 0) {
            if ($("li[class='current']").length > 0) {

                var orderData = [];

                var address = $("li[class='current']").attr('name');
                var goods = [];
                var i = 0;
                $(".info-mid").each(function () {
                    goods[i] = parseInt($(this).attr('name'));
                    i++;
                })
                $.post("{:url('index/order/qyorder')}", {'address':address, 'goods':goods}, function (data) {
                    orderData['address'] = data.address;
                    orderData['goods'] = data.goods;
                    orderData['changePay'] = $("button[class='layui-btn layui-btn-normal']").attr('index');
                    orderData['orderNumber'] = $("#orderNumber").attr('index');
                    orderData['firstPrice'] = $("#totalAmount").html();
                    orderData['secondPrice'] = $("#priceNow").html();
                    orderData['beizhu'] = $("#beizhu").html();
                    if ($("#benefitTo[disabled='disabled']").length > 0) {
                        orderData['youhui'] = $("input[name='youhui']").attr('index');
                    }
                    if ($("#gradeTo[disabled='disabled']").length > 0) {
                        orderData['jifen'] = $("#grade").attr('index');
                    }
                    $.post("{:url('order/createorder')}",
                        {
                            'changePay':orderData['changePay'],
                            'address':orderData['address'],
                            'goods':orderData['goods'],
                            'orderNumber':orderData['orderNumber'],
                            'firstPrice':orderData['firstPrice'],
                            'secondPrice':orderData['secondPrice'],
                            'youhui':orderData['youhui'],
                            'jifen':orderData['jifen'],
                            'beizhu':orderData['beizhu']
                        },
                        function (data) {
                        //location.href = '/index.php/user/orderpay/order_id/'+data;
                    })
                });

            } else {

                layer.alert('请先选择收获地址',{'icon':0})
            }

        } else {
            layer.alert('请先填写收获地址',{'icon':0});
            window.location.href='__PUBLIC__/index/user/deliveryaddress';
        }
    }

    </script>

{include file="public/footer"}