{include file="public/link1" title="$title"}

    <!--nav 开始-->
    <div style="border-bottom:2px solid #d13333;width:90%;margin-left:5%;">
    	<div class="nav w1200" style="margin-left:0px;">
    	<a href="JavaScript:;" class="sp-kj" kj="" style="background-color:#d13333;">
        	商品分类快捷
        </a>
        <div class="kj-show2 none" kj-sh="" style="opacity:1;display:none;">
            {foreach $level1 as $value}
            <div class="kj-info1" mg="{$value['id']}" >

            	<dl class="kj-dl1" name="{$value['id']}">
               		<dt><a href="{:url('',['cateid'=>$value['id']])}">{$value['name']}</a></dt>
                    <dd>
                    	{foreach $level2Limit[$value['id']] as $value2}<a href="">{$value2['name']}</a>&ensp;{/foreach}
                    </dd>
                </dl>

                <div class="kj-if-show" mg2="{$value['id']}">
                	{foreach $level2[$value['id']] as $value3}
                    <dl>
                    	<dt><a href="">{$value3['name']}</a></dt>
                        <dd>
                            {foreach $level3[$value3['id']] as $value4}
                        	<a href=""> {$value4['name']}</a>
                            {/foreach}
                        </dd>
                        <div style="clear:both;"></div>
                    </dl>
                    {/foreach}
                </div>

            </div>
            {/foreach}
        </div>

        <ul>
            {foreach $hotCate as $hot}
            <li><a href="#">{$hot['name']}</a></li>
            {/foreach}
            <div style="clear:both;"></div>
        </ul>
        <div style="clear:both;"></div>
        </div>
    </div>

    <div class="screening-results w1200">

        <div class="results">
            <p class="re-p1 f-l">
                全部结果：{if !empty($parent1)}{$parent1['name']}{/if}&ensp; {if !empty($parent2)}>{$parent2['name']}{/if}&ensp; {if !empty($parent3)}>{$parent3['name']}{/if}
            </p>
            <div class="re-search f-l" style="float:right;margin-right:10px;">
                <input type="text" placeholder="三只松鼠" class="f-l" />
                <button></button>
                <div style="clear:both;"></div>
            </div>
            <!-- <p class="re-p2 f-r">
                <a href="#">清空筛选条件</a>
            </p> -->
            <div style="clear:both;"></div>
        </div>
    </div>
        <!--品牌-->
    <div class="hover-brand">
        <p class="ho-pingpai f-l">品牌</p>
        <ul class="f-l">
            {foreach $brandData as $brData}
            <li><a href="#"><img src="{$brData['logo']}" style="width:104px;height:50px;" /></a></li>
            {/foreach}
            <div style="clear:both;"></div>
        </ul>
        <div class="duoxuan f-r">
            <button ppgd="">多选</button>
            <a href="JavaScript:;" ppgd="">更多 ∨</a>
        </div>
        <div style="clear:both;"></div>
    </div>

        <!--品牌 更多-->
    <div class="re-brand">
            <div class="brand-top">
                <!-- <div class="br-t">
                    <p class="pingpai f-l">品牌</p>
                    <div class="br-abc f-l">
                        <p class="moren f-l">默认</p>
                        <ul class="f-l">
                            <li><a href="#">A</a></li>
                            <li><a href="#">B</a></li>
                            <li><a href="#">C</a></li>
                            <li><a href="#">D</a></li>
                            <li><a href="#">E</a></li>
                            <li><a href="#">F</a></li>
                            <li><a href="#">G</a></li>
                            <li><a href="#">H</a></li>
                            <li><a href="#">I</a></li>
                            <li><a href="#">J</a></li>
                            <li><a href="#">K</a></li>
                            <li><a href="#">L</a></li>
                            <li><a href="#">M</a></li>
                            <li><a href="#">N</a></li>
                            <li><a href="#">O</a></li>
                            <li><a href="#">P</a></li>
                            <li><a href="#">Q</a></li>
                            <li><a href="#">R</a></li>
                            <li><a href="#">S</a></li>
                            <li><a href="#">T</a></li>
                            <li><a href="#">U</a></li>
                            <li><a href="#">V</a></li>
                            <li><a href="#">W</a></li>
                            <li><a href="#">X</a></li>
                            <li><a href="#">Y</a></li>
                            <li><a href="#">Z</a></li>
                            <div style="clear:both;"></div>
                        </ul>
                        <a href="#" class="qita f-l">其他</a>
                        <div style="clear:both;"></div>
                    </div>
                    <div style="clear:both;"></div>
                </div> -->
                <div class="br-b">
                    <ul>
                        {foreach $brandAll as $brAll}
                        <li>
                            <input type="checkbox" name="{$brAll['id']}" ></input>
                            <span>{$brAll['name']|mb_substr=0,10}</span>
                        </li>
                        {/foreach}
                        <!-- <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>乐事/Lay's </span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>周黑鸭/ZHOU...</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>喜之郎/STRONG</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>费列罗/FERRERO</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>好丽友/orion</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>莱家/Loacker </span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>稻香村/dao...</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>友臣/YOUCHEN</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>好想你</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>黄飞红/HUANG...</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>可康/COCON</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>张君雅</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>德芙/Dove</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>利奥/Oreo</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>士力架/SNICKERS</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>汉斯/Hunt's</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>多力多滋</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>百草味/Be ...</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>丽芝士/Richeese</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>百吉福/MILKANA</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>利葡/LiPO</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>友谊牌/Tipo</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>百草味/Be ...</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>丽芝士/Richeese</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>百吉福/MILKANA</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>利葡/LiPO</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>友谊牌/Tipo</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>百草味/Be ...</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>丽芝士/Richeese</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>百吉福/MILKANA</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>利葡/LiPO</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>友谊牌/Tipo</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>百草味/Be ...</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>丽芝士/Richeese</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>百吉福/MILKANA</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>利葡/LiPO</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>友谊牌/Tipo</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>百草味/Be ...</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>丽芝士/Richeese</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>百吉福/MILKANA</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>利葡/LiPO</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>友谊牌/Tipo</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>百草味/Be ...</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>丽芝士/Richeese</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>百吉福/MILKANA</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>利葡/LiPO</span>
                        </li>
                        <li>
                            <input type="checkbox" name="hobby" ></input>
                            <span>友谊牌/Tipo</span>
                        </li> -->
                        <div style="clear:both;"></div>
                    </ul>
                </div>
            </div>
            <div class="brand-bt">
                <button>确定</button>
                <button class="quxiao" quxiao1="">取消</button>
            </div>
        </div>

        <!--品牌热销-->
    <div class="brand-sales">
        <dl>
            <dt>本品牌热销</dt>
            <dd>
                {if !empty($recommendCate)}
                {foreach $recommendCate as $recoCate}
                <a href="#">{$recoCate}</a>
                {/foreach}
                {/if}
            </dd>
            <div style="clear:both;"></div>
        </dl>
        <dl style="border-bottom:none;">
            <dt>大家都在选</dt>
            <dd>
                {if !empty($hotCheck)}
                {foreach $hotCheck as $hCheck}
                <a href="#">{$hCheck}</a>
                {/foreach}
                {/if}
            </dd>
            <div style="clear:both;"></div>
        </dl>
    </div>

    <!--内容↓↑-->
    <div class="shop-page-con w1200">
    	<div class="shop-pg-left f-l" style="width:215px">
            <div class="shop-left-buttom" style="margin-top:0;">
            	<div class="sp-tit1">
                    <h3>商品推荐</h3>
                </div>
                <ul class="shop-left-ul" style="">
                    {if !empty($recommendGoods)}
                    {foreach $recommendGoods as $recommend}
                	<li>
                        <div class="li-top">
                            <a href="#" class="li-top-tu"><img src="{$recommend['original_img']}" alt="{$recommend['goods_name']}"/></a>
                            <p class="jiage"><span class="sp1">￥{$recommend['market_price']}</span><span class="sp2">￥{$recommend['shop_price']}</span></p>
                        </div>
                        <p class="miaoshu" style="height:50px;overflow:hidden;"><a href="">{$recommend['goods_name']}</a></p>
                        <div class="li-md">
                            <div class="md-l f-l">
                                <p class="md-l-l f-l" ap="">1</p>
                                <div class="md-l-r f-l">
                                    <a href="JavaScript:;" class="md-xs" at="">∧</a>
                                    <a href="JavaScript:;" class="md-xx" ab="">∨</a>
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                            <div class="md-r f-l">
                                <button class="md-l-btn1">立即购买</button>
                                <button class="md-l-btn2">加入购物车</button>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <p class="pingjia">{$recommend['comment_count']}评价</p>
                        <p class="weike">快购自营</p>
                    </li>
                    {/foreach}
                    {/if}
                </ul>
            </div>
        </div>
    	<div class="shop-pg-right f-r">
        	<div class="shop-right-cmp" style="margin-top:0;">
            	<ul class="shop-cmp-l f-l">
                	<li class="current"><a href="#">综合 ↓</a></li>
                	<li><a href="#">销量 ↓</a></li>
                	<li><a href="#">新品 ↓</a></li>
                	<li><a href="#">评价 ↓</a></li>
                    <div style="clear:both;"></div>
                </ul>
                <div class="shop-cmp-m f-l">
                	<span>价格</span><input type="text" /><span>-</span><input type="text" />
                </div>
                <div class="shop-cmp-r f-l">
                	<ul class="f-l">
                    	<li>
                        	<input type="checkbox" name="hobby" value=""></input>
                            <span>包邮</span>
                        </li>
                        <li>
                        	<input type="checkbox" name="hobby" value=""></input>
                            <span>进口</span>
                        </li>
                        <li>
                        	<input type="checkbox" name="hobby" value=""></input>
                            <span>仅显示有货</span>
                        </li>
                        <li>
                        	<input type="checkbox" name="hobby" value=""></input>
                            <span>满赠</span>
                        </li>
                        <li>
                        	<input type="checkbox" name="hobby" value=""></input>
                            <span>满减</span>
                        </li>
                        <div style="clear:both;"></div>
                    </ul>
                    <button>确定</button>
                </div>
                <div style="clear:both;"></div>
            </div>
            <div class="shop-right-con">
            	<ul class="shop-ul-tu shop-ul-tu1" style="width:980px;">
                    {if !empty($goods)}
                    {foreach $goods as $good}
                	<li>
                        <div class="li-top">
                            <a href="#" class="li-top-tu"><img src="{$good['original_img']}" alt="{$good['goods_name']}"/></a>
                            <p class="jiage"><span class="sp1">￥{$good['market_price']}</span><span class="sp2">￥{$good['shop_price']}</span></p>
                        </div>
                        <p class="miaoshu" style="height:50px;overflow:hidden;"><a href="">{$good['goods_name']}</a></p>
                        <div class="li-md">
                            <div class="md-l f-l">
                                <p class="md-l-l f-l" ap="">1</p>
                                <div class="md-l-r f-l">
                                    <a href="JavaScript:;" class="md-xs" at="">∧</a>
                                    <a href="JavaScript:;" class="md-xx" ab="">∨</a>
                                </div>
                                <div style="clear:both;"></div>
                            </div>
                            <div class="md-r f-l">
                                <button class="md-l-btn1">立即购买</button>
                                <button class="md-l-btn2">加入购物车</button>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <p class="pingjia">{$good['comment_count']}评价</p>
                        <p class="weike">微克宅购自营</p>
                    </li>
                    {/foreach}
                    {/if}
                    <div style="clear:both;"></div>
                </ul>

            </div>
        </div>
        <div style="clear:both;"></div>
    </div>

    <!--底部服务-->
{include file="public/footer"}
