{include file="public/link1"}
{include file="public/navigation"}

    <!--内容开始-->
    	<!--筛选结果-->

    	<!--品牌-->


    	<!--品牌 更多-->

        <!--品牌热销-->


    <!--内容↓↑-->
    <div class="shop-page-con w1200" style="margin-top:0px;">

    	<div class="shop-pg-right f-r" style="width:1200px;">

            <div class="shop-right-con" style="width:1200px;">
            	<ul class="shop-ul-tu shop-ul-tu1" style="width:1200px;">

                    {if !empty($searchValue)}
                    {foreach $searchValue as $s}
                	<li style="width:232px;">
                        <div class="li-top">
                            <a href="{:url('index/shop/details',['goodsid'=>$s['goods_id']])}" class="li-top-tu"><img src="{$s['original_img']}" style="width:100%" /></a>
                            <p class="jiage"><span class="sp1">￥{$s['shop_price']}</span><span class="sp2">￥{$s['market_price']}</span></p>
                        </div>
                        <p class="miaoshu">{$s['goods_name']|mb_substr=0,10}</p>
                        <div class="li-md">

                            <div class="md-r f-l" style="margin-left:40px;">
                                <button class="md-l-btn1" style="width:150px;" onclick="window.location.href='__PUBLIC__/index/shop/details?goodsid={$s['goods_id']}'">立即购买</button>
                            </div>
                            <div style="clear:both;"></div>
                        </div>
                        <p class="pingjia">{$s['comment_count']}评价</p>
                        <p class="weike">快购自营</p>
                    </li>
                    {/foreach}
                    {/if}

                    <div style="clear:both;"></div>
                </ul>

                <!--分页-->

                <div style="clear:both;"></div>

        </div>
        <div style="clear:both;"></div>
    </div>
</div>



