
<!--右侧飘窗-->
<div class="sidebar_float">
	<!-- 购物车 -->

    <div class="is_cart ie6-hover handle right_piao hidden show" object="#cart_div">
  		<a href="/cart.html?alys_id=head" target="_blank" webtrekkparam="{ct:'sygwc'}"></a>

      	<div class="top_show" id="cart_div">
			<div class="arrow absolute"></div>
			<div class="ico_info_bg absolute">购物车</div>

		</div>
  	</div>


	<div class="is_survey ie6-hover handle right_piao hidden " id="diaocha_div" object="#dc_div">
		<a href="/help/tiyan/index.html" target="_blank" webtrekkparam="{ct:'syyhty'}"></a>
      	<div class="top_show" id="dc_div">
			<div class="arrow absolute"></div>
			<div class="ico_info_bg absolute">用户体验中心</div>
		</div>
	</div>


  	<!-- 百度分享 -->
	<div class="is_share ie6-hover hand handle right_piao hidden show" object="#bd_share">

      <div class="share_show" id="bd_share">

        	<div class="arrow absolute"></div>
			     <div class="share_bg absolute bdsharebuttonbox">
               <a title="分享到腾讯微博" href="javascript:void(0);" class="bds_tqq" data-cmd="tqq" webtrekkparam="{ct:'syfx_1'}"></a>
               <a title="分享到QQ好友" href="javascript:void(0);" class="bds_sqq" data-cmd="sqq" webtrekkparam="{ct:'syfx_2'}"></a>
               <a title="分享到微信" href="javascript:void(0);" class="bds_weixin" data-cmd="weixin" webtrekkparam="{ct:'syfx_3'}"></a>
               <a title="分享到QQ空间" href="javascript:void(0);" class="bds_qzone" data-cmd="qzone" webtrekkparam="{ct:'syfx_4'}"></a>
               <a title="分享到新浪微博" href="javascript:void(0);" class="bds_tsina" data-cmd="tsina" webtrekkparam="{ct:'syfx_5'}"></a>
			</div>
		</div>
	</div>

	<!-- 招募令 -->
    <div class="is_king ie6-hover handle right_piao hidden show" id="king_div" object="#tw_div">
		<a href="http://union.lemall.com/" target="_blank" webtrekkparam="{ct:'syzml'}"></a>
      	<div class="top_show" id="tw_div">
			<div class="arrow absolute"></div>
			<div class="ico_info_bg absolute">招募令</div>
		</div>
	</div>

  	<!-- 在线客服 -->
    <div class="is_kefu ie6-hover handle right_piao hidden show" id="kefu_div" object="#kf_div">
		<a href="javascript:;" id="onlinebtn" alt="asdasd"></a>
      	<div class="top_show" id="kf_div">
			<div class="arrow absolute"></div>
      <div class="ico_info_bg absolute">在线客服</div>
		</div>
	</div>
</div>

<!--返回顶部-->
<div class="top_float ">
	<div class="is_top ie6-hover border hand handle" id="backTop" object="#bt_div">
		<div class="top_show" id="bt_div">
			<div class="arrow absolute"></div>
			<div class="ico_info_bg absolute">返回顶部</div>
		</div>
	</div>
</div>

<div class="le_footer">
    <div class="le_footer_service mcl-2 lcl-2">
        <div class="P_cols">
          <ul class="list_service2 clearfix">
			        <li class="li1"><i class="Licon_36 icon-ft36_zheng"></i> 正品保障</li>
			        <li class="li2"><a href="/help/help-id-168.html?alys_id=foot" target="_blank" webtrekkparam="{ct:'ywsb'}"><i class="Licon_36 icon-ft36_seven"></i><i class="Licon_36 Hover icon-ft36_seven-hover"></i> 7天无理由退货</a></li>
			        <li class="li3"><a href="/help/help-id-164.html?alys_id=foot" target="_blank" webtrekkparam="{ct:'ywby'}"><i class="Licon_36 icon-ft36_free-post"></i><i class="Licon_36 Hover icon-ft36_free-post-hover"></i> 满150包邮</a></li>
			        <li class="li4"><a href="/help/help-id-169.html" target="_blank" webtrekkparam="{ct:'ywsh'}"><i class="Licon_36 icon-ft36_place"></i><i class="Licon_36 Hover icon-ft36_place-hover"></i> 售后服务网点</a></li>

			    </ul>
        </div>

    </div>
    <div class="P_cols">
        <div class="le_footer_help">
            <div class="cols">
                <h4 class="tit mcl-1">生态品类</h4>
                <ul class="le_list_t1 lcl-2">
                    <li><a href="/tv.html" target="_blank" webtrekkparam="{ct:'yw_1'}">超级电视</a></li>
                    <li><a href="/phone.html" target="_blank" webtrekkparam="{ct:'yw_2'}">超级手机</a></li>
                    <li><a href="/product/search.html?level=1&cid1=1022" target="_blank" webtrekkparam="{ct:'yw_3'}">配件</a></li>
                    <li><a href="/product/search.html?level=1&cid1=1018" target="_blank" webtrekkparam="{ct:'yw_4'}">智能硬件</a></li>
                    <li><a href="/peripheral.html?alys_id=ylzb" target="_blank" webtrekkparam="{ct:'yw_5'}">娱乐周边</a></li>
                    <li><a href="/leshivip/index.html" target="_blank" webtrekkparam="{ct:'yw_6'}">乐视会员</a></li>
                </ul>
            </div>
            <div class="cols">
                <h4 class="tit mcl-1">生态服务</h4>
                <ul class="le_list_t1 lcl-2">
                    <li><a href="/toutiao/info.html" target="_blank" webtrekkparam="{ct:'yw_7'}">生态头条</a></li>
                    <li><a href="/huishou.html?alys_id=top" target="_blank" webtrekkparam="{ct:'yw_8'}">以旧换新</a></li>
                    <li><a href="http://bbs.letv.com/?alys_id=foot" target="_blank" webtrekkparam="{ct:'yw_9'}" >乐迷社区</a></li>
                    <li><a href="/biyibi/" target="_blank" webtrekkparam="{ct:''yw_10}">比一比</a></li>
                    <li><a href="/wenwen/" target="_blank" webtrekkparam="{ct:'yw_11'}">问一问</a></li>
                    <li><a href="/kankan/" target="_blank" webtrekkparam="{ct:'yw_12'}">看一看</a></li>
                </ul>
            </div>
            <div class="cols">
                <h4 class="tit mcl-1">帮助中心</h4>
                <ul class="le_list_t1 lcl-2">
                    <li><a href="/help/help-id-212.html?alys_id=foot" title="" target="_blank" webtrekkparam="{ct:'yw_13'}">新手入门</a></li>
                    <li><a href="/user/center/orderList.html?alys_id=foot" title="" target="_blank" webtrekkparam="{ct:'yw_14'}">订单服务</a></li>
                    <li><a href="/help/help-id-163.html?alys_id=foot" title="" target="_blank" webtrekkparam="{ct:'yw_15'}">物流服务</a></li>
                    <li><a href="/help/help-id-168.html?alys_id=foot" title="" target="_blank" webtrekkparam="{ct:'yw_16'}">售后政策</a></li>
                    <li><a href="/user/center/fixAndMaintain.html?alys_id=foot" title="" target="_blank" webtrekkparam="{ct:'yw_17'}">安装报修</a></li>
                    <li><a href="/helpself.html?alys_id=foot" title="" target="_blank" webtrekkparam="{ct:'yw_18'}">自助服务</a></li>
                </ul>
            </div>
            <div class="cols">
                <h4 class="tit mcl-1">服务支持</h4>
                <ul class="le_list_t1 lcl-2">
                    <li><a href="/help/help-id-171.html?alys_id=foot" title="" target="_blank" webtrekkparam="{ct:'yw_19'}">线下体验厅</a></li>
                    <li><a href="http://lepar.letv.com/lepar/join.html?alys_id=foot" title="" target="_blank" webtrekkparam="{ct:'yw_20'}">线下LePar店</a></li>
                    <li><a href="/help/help-id-169.html" title="" target="_blank" webtrekkparam="{ct:'yw_21'}">售后服务网点</a></li>
                    <li><a href="http://union.lemall.com/?alys_id=foot" target="_blank" webtrekkparam="{ct:'yw_22'}">销售联盟</a></li>
                    <li><a href="/cps/index.html?alys_id=foot" target="_blank" webtrekkparam="{ct:'yw_23'}">分享邀请</a></li>
                </ul>
            </div>
            <div class="cols">
                <h4 class="tit mcl-1">关于乐视商城</h4>
                <ul class="le_list_t1 lcl-2">
                    <li><a href="/gywm-zjid-zj01.html?alys_id=foot" title="" target="_blank" webtrekkparam="{ct:'yw_24'}">公司介绍</a></li>
                    <li><a href="/gywm-zjid-zj06.html?alys_id=foot" title="" target="_blank" webtrekkparam="{ct:'yw_25'}">联系我们</a></li>
                    <li><a href="http://job.letv.com" target="_blank" webtrekkparam="{ct:'yw_26'}">加入我们</a></li>
                    <li><a href="javascript:void(0)"  onclick="javascript:pop('#guanzhuPOP')" webtrekkparam="{ct:'yw_27'}" >关注我们</a></li>
                    <!--li><a href="/help/tiyan/index.html?alys_id=foot" target="_blank" webtrekkparam="{ct:'yw_28'}">用户体验中心</a></li-->
                </ul>
            </div>
            <div class="le_footer_cs">
                <div class="line"><i class="fonticon fonticon-phone"> </i> <strong class="big">1010-9000</strong><br>7*24小时客服电话</div>
                <div class="cs"><a href="/onlineservice.html?alys_id=foot" target="_blank" webtrekkparam="{ct:'ywkf'}"><i class="icon-icon-sercice"> </i> <strong class="big">在线客服</strong><br>08:00-22:00</a></div>

            </div>
        </div>



        <div class="le_footer_links">
            <h4 class="tit mcl-1"><a href="/links.html?alys_id=bottom" target="_blank" webtrekkparam="{ct:'yqlj_0'}">友情链接：</a></h4>
            <ul class="le_list_t1 lcl-2 clearfix">

                    <li><a href="http://m.lemall.com/"  target="_blank"  webtrekkparam="{ct:'yqlj_1'}">乐视商城触屏版</a></li>
                    <li><a href="http://www.lemall.com/"  target="_blank"  webtrekkparam="{ct:'yqlj_2'}">乐视</a></li>
                    <li><a href="http://www.lemall.com/"  target="_blank"  webtrekkparam="{ct:'yqlj_3'}">乐视tv</a></li>
                    <li><a href="http://www.lemall.com/phone.html"  target="_blank"  webtrekkparam="{ct:'yqlj_4'}">乐视手机</a></li>
                    <li><a href="http://www.lemall.com/leshivip/index.html"  target="_blank"  webtrekkparam="{ct:'yqlj_5'}">乐视会员</a></li>
                    <li><a href="http://www.lemall.com/phone.html"  target="_blank"  webtrekkparam="{ct:'yqlj_6'}">乐视超级手机</a></li>
                    <li><a href="http://www.lemall.com/le_2.html"  target="_blank"  webtrekkparam="{ct:'yqlj_7'}">乐2</a></li>
                    <li><a href="http://www.lemall.com/le_2pro.html"  target="_blank"  webtrekkparam="{ct:'yqlj_8'}">乐2 Pro</a></li>
                    <li><a href="http://www.lemall.com/le_max2.html"  target="_blank"  webtrekkparam="{ct:'yqlj_9'}">乐Max 2</a></li>
                    <li><a href="http://www.lecloud.com/"  target="_blank"  webtrekkparam="{ct:'yqlj_10'}">乐视云</a></li>
                    <li><a href="http://www.leautolink.com/"  target="_blank"  webtrekkparam="{ct:'yqlj_11'}">车联网</a></li>
                    <li><a href="http://www.leplay.cn/"  target="_blank"  webtrekkparam="{ct:'yqlj_12'}">乐视应用商店</a></li>
                    <li><a href="http://www.boosj.com/"  target="_blank"  webtrekkparam="{ct:'yqlj_13'}">播视网视频</a></li>
                    <li><a href="http://www.wenzhousx.com/"  target="_blank"  webtrekkparam="{ct:'yqlj_14'}">温州视线</a></li>
                    <li><a href="http://www.360che.com/"  target="_blank"  webtrekkparam="{ct:'yqlj_15'}">卡车之家</a></li>
                    <li><a href="http://www.chinapp.com/"  target="_blank"  webtrekkparam="{ct:'yqlj_16'}">中国品牌网</a></li>
                    <li><a href="http://www.ic98.com/"  target="_blank"  webtrekkparam="{ct:'yqlj_17'}">百纳网</a></li>
                    <li><a href="http://www.xdowns.com/"  target="_blank"  webtrekkparam="{ct:'yqlj_18'}">绿盟下载</a></li>
                    <li><a href="http://www.xungou.com/"  target="_blank"  webtrekkparam="{ct:'yqlj_19'}">寻购网</a></li>
                    <li><a href="http://shanghai.anjuke.com/"  target="_blank"  webtrekkparam="{ct:'yqlj_20'}">上海房产网</a></li>
                    <li><a href="http://www.smzdm.com"  target="_blank"  webtrekkparam="{ct:'yqlj_21'}">什么值得买</a></li>
                    <li><a href="http://www.tongbu.com/"  target="_blank"  webtrekkparam="{ct:'yqlj_22'}">苹果手机助手</a></li>
                    <li><a href="http://pad.zol.com.cn/"  target="_blank"  webtrekkparam="{ct:'yqlj_23'}">平板电脑</a></li>
                    <li><a href="http://www.kejixun.com/"  target="_blank"  webtrekkparam="{ct:'yqlj_24'}">科学网</a></li>
                    <li><a href="http://wan.cncn.com/"  target="_blank"  webtrekkparam="{ct:'yqlj_25'}">放心游商城</a></li>
                    <li><a href="http://www.52pk.com/"  target="_blank"  webtrekkparam="{ct:'yqlj_26'}">52PK游戏网</a></li>
                    <li><a href="http://www.eelly.com/"  target="_blank"  webtrekkparam="{ct:'yqlj_27'}">衣联网</a></li>
                    <li><a href="http://www.wbiao.cn/"  target="_blank"  webtrekkparam="{ct:'yqlj_28'}">万表网</a></li>
                    <li><a href="http://www.ff.com/"  target="_blank"  webtrekkparam="{ct:'yqlj_29'}">新物种FF 91</a></li>
                    <li><a href="http://www.yzmg.com/"  target="_blank"  webtrekkparam="{ct:'yqlj_30'}">亿智蘑菇</a></li>
            </ul>
        </div>
        <div class="le_footer_copyright">Copyright © 2004-2017 乐视电子商务(北京)有限公司 All rights reserved. 备案/许可证编号为：京ICP备16033412号-1 不良信息举报中心 网络文化经营许可证文网文[2009]221号</div>
    </div>

</div>
<!--关注我们 弹框-->
<div id="guanzhuPOP" class="hidden" style="width:400px">
	<div class="f8_bg title pl10 line_b relative">
		<span class="font14 dark">关注我们</span>
		<a href="javascript:void(0)" class="absolute" id="wjPop-close">×</a>
	</div>
	<div class="pl30 pr30 pt20 white_bg careus border">
		<div class="pl90 pb30 pt15 line_b sina">
			<span class="font16 dark ">乐视商城 官方微博</span>
			<a href="http://weibo.com/u/5189448902" class="inline_block" target="_blank"><img src="__STATIC__/picture/384abe0bcae0407c9ce5b0b5fcea2791.gif" alt="" /></a>
			<!--<span class="font16 dark mr15 ml45">乐视TV 官方微博</span>
			<a href="http://weibo.com/leshitv" class="inline_block" target="_blank"><img src="__STATIC__/picture/384abe0bcae0407c9ce5b0b5fcea2791.gif" alt="" /></a>      -->
        </div>
		<div class="pl90 pb30 pt15 weixin">
			<div class="clearfix">
				<div class=" pr40 ">
					<span class="font16 dark">乐视商城 官方微信</span><br />
                    <img src="__STATIC__/picture/c0382c6b84ef4b7b93748fd8f2476894.gif" style="width:181px; height:181px;"/>
				</div>
				<!--<div class="left pl40">
                    <span class="font16 dark">乐视TV 官方微信</span><br />
					<img src="__STATIC__/picture/7690c6f7645d43b8a1ab4e7e32ce067c.gif" alt="" />
				</div>-->
			</div>
			<div class="mt15 gray font12">打开微信，点击右上角的“魔法棒”，选择“扫一扫”功能，对准二维码即可。</div>
		</div>
	</div>
</div>
<script type="text/javascript">

//右侧飘窗显示隐藏方法
function showOrHide(parent,lis) {
				var $sidebar = $(parent);
				var $lis = $sidebar.find(lis);
				$sidebar.object="";

				$lis.mouseenter(function(event) {
					clearTimeout($sidebar.timer);
					$($sidebar.object).hide();
					$lis.removeClass('hover');
					$(this).addClass("hover");
					var id=$(this).find($(this).attr("object"));
					$(id).show();
				}).mouseleave(function(event) {
					$sidebar.object=$(this).attr("object");

					$sidebar.timer=setTimeout(function(){
						$lis.removeClass('hover');
						$($sidebar.object).hide()
					},300)
				});;
			}


/**
 *百度分享
 */
  var BDSHAREURL =   "/index.html?cps_id=u_p_sy";
  window._bd_share_config={
    "common": {
      "bdSnsKey": {
      },
      "bdText" : "厉害了~@乐视商城 #超级进化#生态型电商2.0来啦！TA引领全球电商进入生态时代，TA进一步强化内容化、视频化、场景化的多元化购物模式，TA带你享尽生态福利，TA……忍不住想要体验TA？猛戳链接→",
      "bdDesc" : "厉害了~@乐视商城 #超级进化#生态型电商2.0来啦！TA引领全球电商进入生态时代，TA进一步强化内容化、视频化、场景化的多元化购物模式，TA带你享尽生态福利，TA……忍不住想要体验TA？猛戳链接→",
      "bdUrl" : BDSHAREURL,
      "bdPic" : "//img0-lemall.letvimg.com/file/20161223/default/5547235604044316",
      "bdSize": "32"
    },
    "share": {
    }
  };with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];



var is_backtop_show="1";//返回顶部

$(function(){
    //显示右侧飘窗的显示状态
	var show_num=0;
	$(".right_piao").each(function(){
		if($(this).hasClass('show')){
			show_num=show_num+1;
			$(this).addClass('show'+show_num);
			$(this).show(800);
		}
	});
    //右侧飘窗显示隐藏
	showOrHide(".sidebar_float",".handle");
    //返回顶部
	if(is_backtop_show=="1"){
		initBackTop();
	}


});

//初始化返回顶部按钮事件
function initBackTop(){
	window.onscroll=function(){
		if(document.body.scrollTop==0?document.documentElement.scrollTop:document.body.scrollTop > 50){
			$("#backTop").fadeIn(500);
		}else{
			$("#backTop").fadeOut(500);
		}
	}

	$("#backTop").unbind("click").bind("click",function(){
	    $("html,body").animate({scrollTop:0}, 1000);
	});
}

</script>



<script type="text/javascript" src="__STATIC__/js/peoplechart.js"></script>
</body>
</html>