<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html>
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
    <title>【Q-Buy商城】Q-Buy官网</title>
    <meta name="keywords" content="Q-Buy商城,Q-Buy,Q-Buy手机,Q-Buy超级电视,Q-Buy超级手机,Q-Buy电视,Q-Buy网,letv">
    <meta name="description" content="Q-Buy商城（Q-Buy超级手机，超级电视，Q-Buy网会员官方销售平台）是Q-Buy超级手机，超级电视，Q-Buy智能硬件，Q-Buy配件等产品的官方线上销售平台。Q-Buy商城是基于“平台+内容+终端+应用”垂直整合Q-Buy生态，打造的全球生态型电商平台。">
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <link rel="Shortcut Icon" type="image/x-icon" href="__STATIC__/images/shoplogo.ico" />
  <meta http-equiv="x-ua-compatible" content="IE=edge" >


<!-- 引用静态页面标签 -->


<link rel='stylesheet' type='text/css' href='__STATIC__/css/global.css' />
<link rel="stylesheet" type="text/css" href="__STATIC__/css/index_201701.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/css/public_201703.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/css/index_201701_1.css">
<link rel="stylesheet" type="text/css" href="__STATIC__/css/jscrollpane1.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/css/style.css" />
<link rel="stylesheet" type="text/css" href="__STATIC__/css/shopping-mall-index.css" />


<script type = "text/javascript" src="__STATIC__/js/le.jquery.min.js"></script>
<script type = "text/javascript" src="__STATIC__/js/le.vue.js"></script>
<script type = "text/javascript" src="__STATIC__/js/le.static.constant.js"></script>
<!-- <script type = "text/javascript" src="__STATIC__/js/autocomplete_new.js"></script> -->
<script type = "text/javascript" src="__STATIC__/js/zhonglin.js"></script>
<!-- <script type = "text/javascript" src="__STATIC__/js/jquery.js"></script> -->

<!-- 引入jQuery UI的css文件 -->
<link href="http://code.jquery.com/ui/1.10.4/themes/ui-darkness/jquery-ui.css" />
<!-- 引入jQuery的js文件 -->
<script type="text/javascript" src="http://code.jquery.com/jquery-1.9.1.js" ></script>
<!-- 引入jQuery UI的js文件 -->
<script type="text/javascript" src="http://code.jquery.com/ui/1.10.4/jquery-ui.js" ></script>

 <style>
      .ui-helper-hidden-accessible {display:none;}
.ui-autocomplete { position: absolute; cursor: default; border-radius: 3px; border: 1px solid #c0c0c0;}
.ui-menu {list-style: none;padding: 0;margin: 0;display: block;outline: none;}
.ui-menu .ui-menu-item a {text-decoration:none;display:block;padding:.2em .4em;line-height:1.5;zoom:1;}

 .ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {background: #ff8a00;border: none;color:#000;border-radius:0;font-weight: normal;}
</style>



    <script type = "text/javascript">
    var globalHeadVar={
        m_url:"http://shop.wnphp.cn/moblie/"//m站跳转链接
    };
    /**
     * pc转到m站的跳转
    */
    if ((typeof(globalHeadVar) != "undefined") && (globalHeadVar.m_url) && (globalHeadVar.m_url != "")) {
        var browser = {
            versions: function() {
                var a = navigator.userAgent;
                return {
                    mobile: !!a.match(/AppleWebKit.*Mobile.*/),
                    ios: !!a.match(/\(i[^;]+;( U;)? CPU.+Mac OS X/),
                    android: -1 < a.indexOf("Android"),
                    iPhone: -1 < a.indexOf("iPhone"),
                    iPad: -1 < a.indexOf("iPad"),
                    webApp: -1 == a.indexOf("Safari"),
                    weixin: -1 < a.indexOf("MicroMessenger")
                }
            } ()
        };
        if (document.cookie.indexOf("COOKIE_USER_ID_FORWARD_WAP") == -1 && !browser.versions.iPad && (browser.versions.iPhone || browser.versions.mobile || browser.versions.android)) {
            window.location.href = globalHeadVar.m_url + location.search
        };
    }
    </script>
      <script type="text/javascript">
//顶通关闭并删除开始
function l_adtop_1(obj, btn_close) {
  var close = btn_close || ".layer-close";
  $(obj).on('click', close, function() {
    var $parent = $(this).closest(obj);
    $parent.slideUp(500, function() {
      $(this).remove()
    });
  })
}
//超级IP馆幻灯动效
function le_slide_4(obj) {
  var $box = $(obj.box); //最外层的div
  var $pics = $box[0] ? $box.find(obj.pics) : $(obj.pics); //幻灯模块
  var $small_list = $box.find(obj.small_list); //幻灯模块下面的小图列表
  var speed = obj.speed || 3000 //播放速度

  //播放动画时限制点击
  var space = obj.space ? (obj.space >= 500 ? obj.space : 500) : 500;
  $pics.open = 1; //1可以点击，0不可以点击；


  var $lis = $pics.find(".listpic li");

  // 左右点击按钮
  $pics.btnL = $pics.find(".next");
  $pics.btnR = $pics.find(".pre");

  $pics.btnL.click(function() {

    if ($pics.open == 1) {
      $pics.open = 0;
      $pics.getLi($lis, -1)
      setTimeout(function() {
        $pics.open = 1;;
      }, 500)

    } else {
      return false;
    }
  });
  $pics.btnR.click(function() {
    if ($pics.open == 1) {
      $pics.open = 0;
      $pics.getLi($lis, 1);
      setTimeout(function() {
        $pics.open = 1;

      }, 500)
    } else {
      return false;
    }

  });
}

//左侧导航在第一个和最后一个之间fixed定位
function le_navigation(par, li, arr, arr_tit, Complete) {
  //左侧导航的每个按钮,不能是li下的a
  var $parent = $(par);
  var $navLi = $parent.find(li);

  //获取右侧所有模块列表
  // console.log(data);
  var $arr = $(arr.join(","));

  //各个楼层的定位对左侧的导航的各个楼层文字的影响
  $arr.getMaxShowHeight = function(arr) {
      arr.each(function(index, el) {
        var win_height = $(window).height();
        var win_top = $(window).scrollTop();
        var height = $(this).outerHeight();
        var top = $(this).offset().top;
        var y1 = (top > win_top) && (top - win_top) < win_height / 2; //从头算起显示一半
        var y2 = (top < win_top) && (top + height - win_top) > win_height / 2; //从底部算起显示一半
        var y3 = top > (win_top + win_height / 2); //第一个不占一半
        var y4 = (top + height) < (win_top + win_height / 2); //最后一个算上自己的高度显示的不占屏幕的一半


        if (y1 || y2) {
          if (!$navLi.open) $arr.setCur(index)
        } else if (y3 && (index == 0)) {
          $arr.setCur(index);
        } else if (y4 && (index == (arr.length - 1))) {
          $arr.setCur(index);
        }

      });
    }
    //获取最后最后一个楼层的定位信息
  function lastFloorBottom(referenceBox, targetBox) {
    var $last = targetBox.eq(targetBox.length - 1);
    var top1 = $(window).height() / 2 + referenceBox.outerHeight() / 2; //左侧导航底部距屏幕的距离
    var top3 = ($last.offset().top + $last.outerHeight()) - $(window).scrollTop(); //最后一个楼层的可视高度
    var top2 = ($last.offset().top + $last.outerHeight()) - referenceBox.outerHeight(); //左侧导航和右侧底部对齐的时候的差距

    var $first = targetBox.eq(0);
    var $first_tit = $first.find(arr_tit);
    var top4 = $(window).height() / 2 - referenceBox.outerHeight() / 2; //左侧导航底顶距屏幕的距离
    var top5 = $first.offset().top + $first_tit.outerHeight() - $(window).scrollTop(); //第一个楼层和屏幕的距离
    var top_value2 = $first_tit.offset().top + $first_tit.outerHeight(); //满足条件是的top值

    //底部对齐
    if (top3 < top1) {
      referenceBox.css({
        "position": "absolute",
        top: top2,
        "margin-top": "0"
      });
    }
    //中间居中
    if (top3 > top1) {
      referenceBox.css({
        "position": "",
        top: "",
        "margin-top": ""
      });
    }
    //顶部对齐
    if (top4 <= top5) {
      referenceBox.css({
        "position": "absolute",
        top: top_value2,
        "margin-top": "0"
      });
    }
  }

  $(window).bind('scroll resize', function(event) {
    $arr.getMaxShowHeight($arr);
    lastFloorBottom($parent, $arr);
  });
  //设置左侧的当前状态
  $arr.setCur = function(num) {
      $navLi.removeClass("cur");
      clearTimeout($parent.timer);
      if (num != -1) {
        $navLi.eq(num).addClass('cur');
        $parent.addClass('active').show();

      }
      // else{
      //   $parent.removeClass('active');
      //   $parent.timer=setTimeout(function(){
      //     $parent.hide();
      //   },200)
      //
      // }
    }
    //左侧定位函数
  $arr.setTop = function() {
    var winTop = $(window).scrollTop();
    switch (num) {
      case 1:
        {
          obj.css({
            position: "absolute",
            top: top
          })
        }
        break;
      case 2:
        {
          obj.css({
            position: "fixed",
            top: top
          })
        }
        break;
      case 3:
        {
          obj.css({
            position: "absolute",
            top: top
          })
        }
    }

  }

  //点击左侧后页面滚动动画
  function position(obj) {
    var y = $(obj).offset().top;
    $("html,body").stop();
    $("html,body").animate({
      "scrollTop": y
    }, 500, function() {
      $navLi.open = false;
    })
  }
  //点击左侧导航
  $navLi.click(function() {
    $navLi.open = true;
    var num = $(this).index();
    var targetOjb = arr[num];
    position(targetOjb);
    $arr.setCur(num);
    return false;
  });

  $(window).trigger('scroll');


}
// le_navigation("#le_navigation","li", [".P_index_1", ".P_index_2", ".P_index_3", ".P_index_4", ".P_index_5", ".P_index_6"],".le_tit_1")


$(document).ready(function() {

  //顶通关闭并删除
  l_adtop_1(".L_adtop_1");

  //下部幻灯和图文的组件
  le_slide_4({
    box: "#le_slide_4b", //模块div
    pics: ".le_slide_4", //幻灯部分
    small_list: ".list_commodity_4", //地下小图文部分
    auto: true, //自动播放
    speed: 5000 //间隔事件

  })

  //调用左导航
  le_navigation("#le_navigation", "li", ["#P_index_1", "#P_index_2", "#P_index_8", "#P_index_3", "#P_index_5", "#P_index_7"], ".le_tit_1")


});
      </script>
  </head>
  <body id="index">
      <!-- 1200x100 -->
      <!-- /1200x100 -->
        <!-- /* 头部模块 开始 */ -->
    <div class="header">
        <div class="header_links" id="header_links">
            <div class="center">
                <ul class="header_link">


                    <li><a>你好，欢迎来到Q-Buy</a></li>
                </ul>
                <ul class="header_right">
                    {if !empty($Think.session.userInfo)}
                      <li class="header_login relative" id="loginMess">尊敬的{$Think.session.userInfo.mobile}
                        &ensp; &ensp;  <a href="{:url('user/personaldata')}" id="register" rel="nofollow" >管理中心</a>|<a href="{:url('user/logout')}">退出</a>
                      }
                      </li>
                    {else}
                      <li class="header_login relative" id="loginMess">
                        <a href="{:url('user/login')}" rel="nofollow" id="login" ">登录</a> |
                        <a href="{:url('user/register')}" id="register" rel="nofollow">注册</a>
                      </li>
                    {/if}
                    <li><a target="_blank" href="/lemi.html" webtrekkparam="{ct:'sydb_13'}">乐迷俱乐部</a></li>
                    {if !empty($Think.session.userInfo)}
                    <li class="header_order">
                        <a href="/user/center/orderList_519.html?alys_id=head" rel="nofollow" webtrekkparam="{ct:'sydb_14'}">我的订单</a>
                    </li>
                    {/if}
                    <li type="slide" buffer="300" speed="fast" object="#help" class="hd_list show_hide_block header_help">
                        <a target="_blank" href="/helpself.html?alys_id=top" webtrekkparam="{ct:'sydb_15'}">帮助中心<div class="jiantou jiantou_down"></div></a>
                        <dl id="help">
                            <dt><a target="_blank" href="/helpself.html?alys_id=top">帮助中心<div class="jiantou jiantou_up"></div></a></dt>
                            <dd><a target="_blank" href="/help/help-id-163.html?alys_id=top" webtrekkparam="{ct:'sydb_16'}">配送安装</a></dd>
                            <dd><a target="_blank" href="/help/help-id-168.html?alys_id=top" webtrekkparam="{ct:'sydb_17'}">售后服务</a></dd>
                            <dd><a target="_blank" href="/help/help-id-164.html?alys_id=top" webtrekkparam="{ct:'sydb_18'}">运费标准</a></dd>
                            <dd><a target="_blank" href="/onlineservice.html?alys_id=top" webtrekkparam="{ct:'sydb_19'}">联系客服</a></dd>
                        </dl>
                    </li>
                    <li type="slide" buffer="300" speed="fast" object="#dao" class="hd_list show_hide_block header_other">
                        <a href="javascript:void(0)">生态导航<div class="jiantou jiantou_down"></div></a>
                        <dl id="dao">
                            <dt>生态导航<div class="jiantou jiantou_up"></div></dt>
                            <dd><a target="_blank" href="http://www.letv.com?alys_id=top"  webtrekkparam="{ct:'sydb_20'}">乐视视频</a></dd>
                            <dd><a target="_blank" href="http://www.wangjiu.com?alys_id=top"  webtrekkparam="{ct:'sydb_21'}">网酒网</a></dd>
                            <!--<dd><a target="_blank" webtrekkparam="{ct:'xbsy_dh1_stdh_lsh'}" href="http://www.lelife.com?alys_id=top">乐生活</a></dd>-->
                            <dd><a target="_blank" href="http://lepar.letv.com/lepar/join.html?alys_id=top"  webtrekkparam="{ct:'sydb_22'}">LePar</a></dd>
                        </dl>
                    </li>
                    <li type="slide" buffer="300" speed="fast" object="#app_download" class="hd_list show_hide_block">
                        <a target="_blank" href="/app/download.html?alys_id=top" webtrekkparam="{ct:'sydb_23'}">手机版</a>
                        <div id="app_download" class="le-tips le-tips-white" style="display:none">
                            <span class="tips-arr arr-top arr-top-s"><i class="fonticon fonticon-diamond"></i></span>
                            <span class="tips-arr arr-top"><i class="fonticon fonticon-diamond"></i></span>
                            <div class="inner-wrap bg-w clearfix">
                                <div class="inner-cont">
                                    <p><img alt="" src="__STATIC__/picture/1e75d4832b1f4b4c845a03b163de4dde.gif" style="" /></p>
                                    <p>扫码下载App</p>
                                </div>
                                <div class="inner-cont cont-sec">
                                    <p><img alt="" src="__STATIC__/picture/9d14496533d64d4b81979e17a220de61.gif" style="" /></p>
                                    <p>扫码访问微商城</p>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="Le_head P_cols clearfix">
            <div class="logoNav">
              <a href="/index.html" class="logoIndex" style="margin-left: -50px;"><img src="__STATIC__/images/qbuylogo_s.png"></a>
                <div class="otherNav"></div>
            </div>
            <div class="Le_head_form">
                <div class="form_stuff_1">
                    <input type="text" class="text" id="txt_company"  style="color:#999">
                    <input type="button" class="button" id="search_submit" value="搜索" style="font-family: 微软雅黑;">
                        <!-- 弹层 -->

                              <div class="L_popupmenu hidden">
                                <div class="box">
                                </div>
                              </div>

                        <!-- /弹层-->
                </div>
                <div class="hotwords"></div>

            </div>
            <div class="btn_cart">
              <a href="javascript:;" id="cartcar" onclick="skipto()" ><span><i class="fonticon fonticon-cart"> </i> <label class="le-label-num" id="productNumInCart">99</label>购物车</span></a>
              <div id="showcartgoods">
                <li><div><img src="__STATIC__/images/xiaoitheme.jpg"> <p id="goodsinfo">小米MIX <br />全网通 4GB内存＋128GB容量 <br />黑色 128GB</p><p id="price">1499元 x 1</p></div></li>
                <li><div><img src="__STATIC__/images/xiaoitheme.jpg"> <p id="goodsinfo">小米MIX <br />全网通 4GB内存＋128GB容量 <br />黑色 128GB</p><p id="price">1499元 x 1</p></div></li>
                <li><div><img src="__STATIC__/images/xiaoitheme.jpg"> <p id="goodsinfo">小米MIX <br />全网通 4GB内存＋128GB容量 <br />黑色 128GB</p><p id="price">1499元 x 1</p></div></li>
                <li><div><img src="__STATIC__/images/xiaoitheme.jpg"> <p id="goodsinfo">小米MIX <br />全网通 4GB内存＋128GB容量 <br />黑色 128GB</p><p id="price">1499元 x 1</p></div></li>
                <li><div><img src="__STATIC__/images/xiaoitheme.jpg"> <p id="goodsinfo">小米MIX <br />全网通 4GB内存＋128GB容量 <br />黑色 128GB</p><p id="price">1499元 x 1</p></div></li>
                <li><div style="border: 0px;">
                <p id="goodscount">共 2 件商品</p><p id="sumpirce">4998.00元</p><button id="jiesuan">去购物车结算</button></div></li>
              </div>
            </div>
              <script type = "text/javascript" src="__STATIC__/js/shopCart.js"></script>
            {if !empty($userDataInfo)}
            <input type="hidden" id="userdatainfo" value="{$userDataInfo['id']}" />
            {/if}

              <script type="text/javascript">

              function f(num,n){
                return parseInt(num*Math.pow(10,n)+0.5,10)/Math.pow(10,n);
              }

              //获取session信息。
              var udi = $('#userdatainfo').val();

              //如果session存在，从数据库中取出信息，展示。
              if (udi) {
                $.post("{:url('index/shop/querycart2')}", {'userid' : udi}, function(data) {
                  var userList = JSON.parse(data);

                  $('#showcartgoods').empty();

                  var totalNumber = 0;
                  var totalAmount = 0;

                  for (var p in userList) {

                    totalNumber = totalNumber + userList[p]['goods_num'];
                    totalAmount = totalAmount + userList[p]['goods_num']*userList[p]['goods_price'];

                    $('#showcartgoods').append("<li><div><img src='"+ userList[p].image +"' style='width:30%;' /> <p  id='goodsinfo' style='margin-top:10px;width:90px'>"+ userList[p].goods_name.substr(0,10) +"...<br />"+ userList[p].spec_key_name +"</p><p id='price'>"+ userList[p].goods_price +"元 x "+ userList[p].goods_num +"</p></div></li>")
                  }

                  $('#showcartgoods').append("<div style='padding:18px;'><button class='layui-btn layui-btn-small' id='jiesuan' style='float:right;margin-top:20px;width:130px;font-size:14px;height:40px;background:#ff6700;' onclick='skipto()' >去购物车结算</button><p id='goodscount' style='margin-top:20px'>共 "+ totalNumber +" 件商品</p><p id='sumpirce' >&ensp;<span style='font-size:24px;line-height:40px;color:#ff6700'>"+ totalAmount +"</span><span style='color:#ff6700'>元</span></p></div><div style='clear:both'></div></li></div>");

                  $('#productNumInCart').html(totalNumber);

                })
              //如果session不存在，从shoreage中提取信息，展示。
              } else {
                if (utils.getParam("ShoppingCart") != null) {

                  var pdtlist=cart.getproductlist();
                  $('#productNumInCart').html(pdtlist.length);

                  $('#showcartgoods').empty();
                  for (var p in pdtlist) {
                    $('#showcartgoods').append("<li><div><img src='"+ pdtlist[p].image +"' style='width:30%;' /> <p  id='goodsinfo' style='margin-top:10px;width:90px'>"+ pdtlist[p].name.substr(0,10) +"...<br />"+ pdtlist[p].spec +"</p><p id='price'>"+ parseInt(pdtlist[p].price) +"元 x "+ pdtlist[p].num +"</p></div></li>")
                  }
                  $('#showcartgoods').append("<div style='padding:18px;'><button class='layui-btn layui-btn-small' id='jiesuan' style='float:right;margin-top:20px;width:130px;font-size:14px;height:40px;background:#ff6700;' onclick='skipto()' >去购物车结算</button><p id='goodscount' style='margin-top:20px'>共 "+ orderdetail.totalNumber +" 件商品</p><p id='sumpirce' >&ensp;<span style='font-size:24px;line-height:40px;color:#ff6700'>"+ f(orderdetail.totalAmount,2) +"</span><span style='color:#ff6700'>元</span></p></div><div style='clear:both'></div></li></div>")

                } else {
                  $('#productNumInCart').html("0");
                  $('#showcartgoods').empty();
                  $('#showcartgoods').append("<div style='padding:18px;'><button class='layui-btn layui-btn-small' id='jiesuan' style='float:right;margin-top:20px;width:130px;font-size:14px;height:40px;background:#ff6700;' onclick='skipto()' >去购物车结算</button><p id='goodscount' style='margin-top:20px'>共 "+ 0 +" 件商品</p><p id='sumpirce' >&ensp;<span style='font-size:24px;line-height:40px;color:#ff6700'>"+ 0 +"</span><span style='color:#ff6700'>元</span></p></div><div style='clear:both'></div></li></div>")
                }
              }

              function skipto()
                {
                  window.location.href="{:url('index/shop/shopcart')}";
                }

              $('#cartcar').on('mouseenter',function () {
                    $('#showcartgoods').show(400);
               });

              $('#showcartgoods').on('mouseleave',function () {
                   $('#showcartgoods').hide(400);
              });

              </script>

        </div>
    </div>




</script>
<div id="chat" style="position: fixed;right: 50px;top:500px ; display: none;z-index: 500">
    <div id="onlinelist" class="list-group" style="float: left;display: none;" >
      <a href="javascript:;" class="list-group-item active" style="cursor: default;" id="onlinetitle">在线客服</a>
      <a href="tencent://message/?uin=625777511&Site=sc.chinaz.com&Menu=yes" class="list-group-item"><img src="__STATIC__/images/chart/qqonline.png"> 【QQ在线客服】</a>
    </div>

    <!-- <button type="button" id="onlinebtn" class="btn btn-success" style="font-family: 微软雅黑;">在<br />线<br />客<br />服</button> -->
  </div>

  <!-- 对话框开始 -->
    <div class="talk" style="position: absolute;left: 1130px;top: 318px;z-index: 1000; display: none;" id="talkinfo">
      <div class="talk_title" id="moveWindow" style="cursor: move;"><span style="font-weight: normal;color: #eee;" id="servername">在线客服</span>
      <a href="javascript:;" onclick="closeonline()" style="float: right;font-size: 20px;margin:0px 10px 0px 5px;color: #ddd;">
      <span class="glyphicon glyphicon-remove">X</span></a></div>
      <div class="talk_record" style="overflow-y: auto">
        <div id="jp-container" class="jp-container"><!-- 这里面存放的是对话的内容 --></div>
      </div>
      <div class="talk_word">
        &nbsp;
        <input class="add_face" id="facial" type="button" title="添加表情" value="" />
        <input class="messages emotion" autocomplete="off" value="在这里输入文字" onFocus="if(this.value=='在这里输入文字'){this.value='';}"  onblur="if(this.value==''){this.value='在这里输入文字';}"  id="inputchat" />
        <input class="talk_send" type="button" title="发送" value="发送" />
      </div>
    </div> <!-- 对话框结束 -->




<script type ="text/javascript">

  $("#txt_company").bind('input propertychange', function () {
      var searchText = $(this).val();
      if (searchText.length > 0) {

        $.ajax({
          'type' : 'post',
          'url' : "{:url('index/shop/searchInTime')}",
          'data' : {'searchText' : searchText},
          'success' : success,
          'async' : true
        });
        function success (data) {
             $("#txt_company").autocomplete({source : data,messages: {noResults: '', results: function(){ }}});
    }}})


  $("#search_submit").on('click', function () {
    var searchName = $('#txt_company').val();
    window.location.href="__PUBLIC__/index/shop/search?searchName="+ searchName;
  })

</script>