<!doctype html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- Apple devices fullscreen -->
<meta name="apple-mobile-web-app-capable" content="yes">
<!-- Apple devices fullscreen -->
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
<link href="__ADMIN__/order/css/main.css" rel="stylesheet" type="text/css">
<link href="__ADMIN__/order/css/page.css" rel="stylesheet" type="text/css">
<link href="__ADMIN__/order/css/font-awesome.min.css" rel="stylesheet" />
<!--[if IE 7]>
  <link rel="stylesheet" href="css/font-awesome-ie7.min.css">
<![endif]-->
<link href="__ADMIN__/order/css/jquery-ui.min.css" rel="stylesheet" type="text/css"/>
<link href="__ADMIN__/order/css/perfect-scrollbar.min.css" rel="stylesheet" type="text/css"/>
<style type="text/css">html, body { overflow: visible;}</style>

<script type="text/javascript" src="__ADMIN__/order/js/jquery.js"></script>
<script type="text/javascript" src="__ADMIN__/order/js/jquery-ui.min.js"></script>
<script type="text/javascript" src="__ADMIN__/order/js/layer.js"></script><!-- 弹窗js 参考文档 http://layer.layui.com/-->
<script type="text/javascript" src="__ADMIN__/order/js/admin.js"></script>
<script type="text/javascript" src="__ADMIN__/order/js/assets/laydate/laydate.js""></script>
<script type="text/javascript" src="__ADMIN__/order/js/flexigrid.js"></script>
<script type="text/javascript" src="__ADMIN__/order/js/jquery.validation.min.js"></script>
<script type="text/javascript" src="__ADMIN__/order/js/common.js"></script>
<script type="text/javascript" src="__ADMIN__/order/js/perfect-scrollbar.min.js"></script>
<script type="text/javascript" src="__ADMIN__/order/js/jquery.mousewheel.js"></script>
<script src="__ADMIN__/order/js/myformvalidate.js"></script>
<script src="__ADMIN__/order/js/myajax2.js"></script>
<script src="__ADMIN__/order/js/global.js"></script>

</head>
<script type="text/javascript" src="__ADMIN__/order/js/laydate.js"></script>

<body style="background-color: rgb(255, 255, 255); overflow: auto; cursor: default; -moz-user-select: inherit;">
<div id="append_parent"></div>
<div id="ajaxwaitid"></div>
<div class="page">
  <div class="fixed-bar">
    <div class="item-title">
      <div class="subject">
        <h3>待发货订单</h3>
        <h5>商城实物商品外发货订单实时管理</h5>
      </div>
    </div>
  </div>
  <!-- 操作说明 -->
  <div id="explanation" class="explanation" style=" width: 99%; height: 100%;">
    <div id="checkZoom" class="title"><i class="fa fa-lightbulb-o"></i>
      <h4 title="提示相关设置操作时应注意的要点">操作提示</h4>
      <span title="收起提示" id="explanationZoom" style="display: block;"></span>
    </div>
     <ul>
      <li>查看操作可以查看订单详情, 包括支付费用, 商品详情等</li>
      <li>代发货的订单进行发货</li>
      <li>用户收货后, 如果没有点击"确认收货",系统自动根据设置的时间跟商家结算.</li>
    </ul>
  </div>
  <div class="flexigrid">
    <div class="mDiv">
      <div class="ftitle">
        <h3>订单列表</h3>
        <h5>(共条记录)</h5>
      </div>
      <div title="刷新数据" class="pReload"><i class="fa fa-refresh"></i></div>
	  <form class="navbar-form form-inline"  method="post" action="{:url('order/export_order')}"  name="search-form2" id="search-form2">  
	  		<input type="hidden" name="order_by" value="order_id">
            <input type="hidden" name="sort" value="desc">
            <input type="hidden" name="user_id" value="">
            <!--用于查看结算统计 包含了哪些订单-->
            <input type="hidden" value="" name="order_statis_id" />
                                    
      <div class="sDiv">
        <div class="sDiv2">
        	<input type="text" size="30" id="add_time_begin" name="add_time_begin" value="" class="qsbox"  placeholder="下单开始时间">
        </div>
        <div class="sDiv2">
        	<input type="text" size="30" id="add_time_end" name="add_time_end" value="" class="qsbox"  placeholder="下单结束时间">
        </div>
        <div class="sDiv2">	 
        	<select name="pay_status" class="select" style="width:100px;margin-right:5px;margin-left:5px">
              <option value="">支付状态</option>
              <option value="0">未支付</option>
        			<option value="1">已支付</option>
            </select>
        </div>
        <div class="sDiv2">	   
            <select name="pay_code" class="select" style="width:100px;margin-right:5px;margin-left:5px">
                <option value="">支付方式</option>
                <option value="alipay">支付宝支付</option>
        				<option value="weixin">微信支付</option>
        				<option value="cod">货到付款</option>
             </select>
         </div>
         <div class="sDiv2">	 
             <select name="shipping_status" class="select" style="width:100px;">
                <option value="">发货状态</option>
                <option value="0">未发货</option>
                <option value="1">已发货</option>
                <option value="2">部分发货</option>
             </select>
          </div>
          <div class="sDiv2">	 
             <select name="order_status" class="select" style="width:100px;">
                  <option value="">订单状态</option>
                                        <option value="0">待确认</option>
                                        <option value="1">已确认</option>
                                        <option value="2">已收货</option>
                                        <option value="3">已取消</option>
                                        <option value="4">已完成</option>
                                        <option value="5">已作废</option>
                                </select>       
         </div>
         <div class="sDiv2">	                
          <select  name="keytype" class="select">
            <option value="consignee">收货人</option>
            <option value="order_sn">订单编号</option>
            </foreach>            
          </select>
         </div>
         <div class="sDiv2">	 
          <input type="text" size="30" name="keywords" class="qsbox" placeholder="搜索相关数据...">
        </div>
        <div class="sDiv2">	 
          <input type="button"  class="btn" value="搜索" id="searchbtn">
        </div>
      </div>
     </form>
    </div>
    <div class="hDiv">
      <div class="hDivBox" id="ajax_return">
        <table cellspacing="0" cellpadding="0">
          <thead>
	        	<tr>
	              <th class="sign" axis="col0">
	                <div style="width: 24px;"><i class="ico-check"></i></div>
	              </th>
	              <th align="left" abbr="order_sn" axis="col3" class="">
	                <div style="text-align: left; width: 150px;" class="">订单编号</div>
	              </th>
	              <th align="left" abbr="consignee" axis="col4" class="">
	                <div style="text-align: left; width: 150px;" class="">收货人</div>
	              </th>
	              <th align="center" abbr="article_show" axis="col5" class="">
	                <div style="text-align: center; width: 100px;" class="">总金额</div>
	              </th>
	              <th align="center" abbr="article_time" axis="col6" class="">
	                <div style="text-align: center; width: 90px;" class="">应付金额</div>
	              </th>
	               <th align="center" abbr="article_time" axis="col6" class="">
	                <div style="text-align: center; width: 90px;" class="">发货状态</div>
	              </th>
	              <th align="center" abbr="article_time" axis="col6" class="">
	                <div style="text-align: center; width: 90px;" class="">支付方式</div>
	              </th>
	              <th align="center" abbr="article_time" axis="col6" class="">
	                <div style="text-align: center; width: 90px;" class="">配送方式</div>
	              </th>
	              <th align="center" abbr="article_time" axis="col6" class="">
	                <div style="text-align: center; width: 160px;" class="">下单时间</div>
	              </th>
	              <th align="left" axis="col1" class="handle">
	                <div style="text-align: left; width: 200px;">&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;操作</div>
	              </th>
	             
	            </tr>
	          </thead>
        </table>
      </div>
    </div>
    <div class="tDiv">
      <div class="tDiv2">
        <div class="fbutton"> 
        	<a href="javascript:exportReport()">
	          	<div class="add" title="选定行数据导出excel文件,如果不选中行，将导出列表所有数据">
	            	<span><i class="fa fa-plus"></i>导出数据</span>
	          	</div>
          	</a> 
          </div>
        
      </div>
      <div style="clear:both"></div>
    </div>
    <div class="bDiv" style="height: auto;">
      <div id="flexigrid" cellpadding="0" cellspacing="0" border="0">
        <table>
          <tbody id="tbodyadd">
            {foreach $list as $v}
            <tr class=""><!-- trSelected -->
              <td class="sign" axis="col0">
                <div style="width: 24px;"><i class="ico-check"></i></div>
              </td>
              <td align="left" abbr="order_sn" axis="col3" class="">
                <div style="text-align: left; width: 140px;" class="">{$v.order_sn}</div>
              </td>
              <td align="left" abbr="consignee" axis="col4" class="">
                <div style="text-align: left; width: 140px;" class="">{$v.consignee}:{$v.mobile}</div>
              </td>
              <td align="center" abbr="article_show" axis="col5" class="">
                <div style="text-align: center; width: 80px;" class="">{$v.total_amount}</div>
              </td>
              <td align="center" abbr="article_time" axis="col6" class="">
                <div style="text-align: center; width: 80px;" class="">{$v.order_amount}</div>
              </td>
              
              <td align="center" abbr="article_time" axis="col6" class="">
                <div style="text-align: center; width: 80px;" class="">{$v.shipping_statuss}</div>
              </td>
             
              <td align="center" abbr="article_time" axis="col6" class="">
                <div style="text-align: center; width: 80px;" class="">{$v.pay_name}</div>
              </td>
              <td align="center" abbr="article_time" axis="col6" class="">
                <div style="text-align: center; width: 80px;" class="">{$v.shipping_name}</div>
              </td>
              <td align="center" abbr="article_time" axis="col6" class="">
                <div style="text-align: center; width: 160px;" class="">{$v.add_time}</div>
              </td>
              <td align="left" axis="col1" class="handle">
                  <div style="text-align: left; ">
                    <a class="btn green" href="orderinfo.html?id={$v.order_id}"><i class="fa fa-list-alt"></i>查看</a>
                    {if $v.shipping_status != 1}
                    <a class="btn green" href="sendorder.html?id={$v.order_id}"><i class="fa fa-paper-plane"></i>发货</a>
                    {/if}
                  </div>
              </td>  
            </tr>
            {/foreach}    
          </tbody>
        </table>
      </div>
      <div class="iDiv" style="display: none;"></div>
    </div>
    <!--分页位置--> {$list->render()}
   	</div>
</div>
<script type="text/javascript">

    $('#searchbtn').on('click',function () {
        var formdata = new FormData($('#search-form2')[0]);
         $.ajax({  
          url: "{:url('order/searchwaitorder')}" ,  
          type: 'POST',  
          data: formdata,  
          async: true,  
          cache: false,  
          contentType: false,  
          processData: false,  
          success: function (data) {
            var flag = 0;
            $('#tbodyadd').empty();
            for(var i in data){
              if (flag >= 50) { return}
               var str = '<tr class=""><!-- trSelected -->';
               str += ' <td class="sign" axis="col0"><div style="width: 24px;"><i class="ico-check"><i></div></td>';
               str += '<td align="left" abbr="order_sn" axis="col3" class=""><div style="text-align: left; width: 140px;" class="">'+data[i].order_sn+'</div></td>';
                str += '<td align="left" abbr="consignee" axis="col4" class=""><div style="text-align: left; width: 140px;" class="">'+data[i].consignee+data[i].mobile+'</div></td>';
                str += '<td align="center" abbr="article_show" axis="col5" class=""><div style="text-align: center; width: 80px;" class="">'+data[i].goods_price+'</div></ td>';
                str += '<td align="center" abbr="article_time" axis="col6" class=""><div style="text-align: center; width: 80px;" class="">'+data[i].total_amount+'</div></td>';
             if (data[i].shipping_status == 0) {var shippingg = '未发货';}
                if (data[i].shipping_status == 2) {var shippingg = '部分发货';}
                str += '<td align="center" abbr="article_time" axis="col6" class=""><div style="text-align: center; width: 80px;" class="">'+shippingg+'</div></td>';
              
                str += '<td align="center" abbr="article_time" axis="col6" class=""><div style="text-align: center; width: 70px;" class="">'+data[i].pay_name+'</div></td>';
                
                str += '<td align="center" abbr="article_time" axis="col6" class=""><div style="text-align: center; width: 80px;" class="">'+data[i].shipping_name+'</div></td>';
             
                str += '<td align="center" abbr="article_time" axis="col6" class=""><div style="text-align: center; width: 160px;" class="">'+data[i].add_time+'</div></td>';
                str += ' <td align="left" axis="col1" class="handle"><div style="text-align: left; "> <a class="btn green" href="orderinfo.html?id='+data[i].order_id+'"><i class="fa fa-list-alt"></i>查看</a><a class="btn green" href="sendorder.html?id='+data[i].order_id+'"><i class="fa fa-paper-plane"></i>发货</a></div></td> </tr>';


                $('#tbodyadd').append(str);
                flag++;
            }

          }
     });  
    });

/*
          
              
              <td align="center" abbr="article_time" axis="col6" class="">
                <div style="text-align: center; width: 80px;" class="">{$v.order_statuss}</div>
              </td>
              <td align="center" abbr="article_time" axis="col6" class="">
                <div style="text-align: center; width: 80px;" class="">{$v.shipping_statuss}</div>
              </td>
              <td align="center" abbr="article_time" axis="col6" class="">
                <div style="text-align: center; width: 80px;" class="">{$v.pay_statuss}</div>
              </td>
              <td align="center" abbr="article_time" axis="col6" class="">
                <div style="text-align: center; width: 80px;" class="">{$v.pay_name}</div>
              </td>
              <td align="center" abbr="article_time" axis="col6" class="">
                <div style="text-align: center; width: 80px;" class="">{$v.shipping_name}</div>
              </td>
              <td align="center" abbr="article_time" axis="col6" class="">
                <div style="text-align: center; width: 160px;" class="">{$v.add_time}</div>
              </td>
              <td align="left" axis="col1" class="handle">
                  <div style="text-align: left; ">
                    <a class="btn green" href="/index.php/Admin/order/detail/order_id/1494.html"><i class="fa fa-list-alt"></i>查看</a>
                  </div>
              </td>  
            </tr>*/
	 
    $(document).ready(function(){	
	   
     	$('#add_time_begin').layDate(); 
     	$('#add_time_end').layDate();
     	
		// 点击刷新数据
		$('.fa-refresh').click(function(){
			location.href = location.href;
		});
		
		
		$('.ico-check ' , '.hDivBox').click(function(){
			$('tr' ,'.hDivBox').toggleClass('trSelected' , function(index,currentclass){
	    		var hasClass = $(this).hasClass('trSelected');
	    		$('tr' , '#flexigrid').each(function(){
	    			if(hasClass){
	    				$(this).addClass('trSelected');
	    			}else{
	    				$(this).removeClass('trSelected');
	    			}
	    		});  
	    	});
		});
		 
	});
    
    
  
	
	function exportReport(){
		$('#search-form2').submit();
	}
	
	 
</script>
</body>
</html>