
{include file="public/link1" title='我的订单'}
    <!--内容开始-->
    <div class="personal w1200">
        <div class="personal-left f-l" style="margin-top:20px;">
            <div class="personal-l-tit" style="background-color:#c60000">
                <h3>个人中心</h3>
            </div>
            <ul>
                <li class="per-li1"><a href="{:url('user/usermessage')}">消息中心<span>></span></a></li>
                <li class="per-li2"><a href="{:url('user/personaldata')}">个人资料<span>></span></a></li>
                <li class="per-li3"><a href="{:url('user/orderlist')}">我的订单<span>></span></a></li>
                <li class="per-li5"><a href="{:url('shop/shopcart')}">购物车<span>></span></a></li>
                <li class="per-li6"><a href="{:url('user/deliveryaddress')}">管理收货地址<span>></span></a></li>
                <li class="current-li per-li7"><a href="{:url('user/collectgoods')}">宝贝收藏<span>></span></a></li>
                <li class="per-li10"><a href="{:url('user/usergrade')}">会员积分<span>></span></a></li>
            </ul>
        </div>
    	<div class="f-r">
            <div class="confirmation" style="margin-top: 20px;">
            	<div class="in-tit" style="border-bottom:0;">
                    <h3>购买记录</h3>
                </div>
            </div>
            <div class="browse">
            	<div class="browse-hd">
                	<span>共收藏{$count} 件宝贝</span>
                </div>
                <ul>
                {foreach $res as $v}
                	<li style="height: 250px ;margin-top: 20px;width: 222px;">
                        <div class="li-top">
                            <a href="#" class="li-top-tu"><img src="{$v['original_img']}" width="100" /></a>
                            <p class="jiage"><span class="sp1">￥{$v['shop_price']}</span><span class="sp2">￥{$v['market_price']}</span></p>
                        </div>
                        <a href="{:url('index/shop/details',['goodsid'=>$v['goods_id']])}" target="_blank" class="miaoshu">{$v['goods_name']}</a>
                        <p class="weike" style="margin-top: 10px;">收藏时间 : {$v['add_time']|date="Y-m-d",###}<span style="float: right;"><a href="javascript:;" onclick="deletecollect(this,{$v['collect_id']})">删除</a></span></p>
                    </li>
                {/foreach}                   

                    <div style="clear:both;"></div>
                </ul>
            </div>
            <style type="text/css">
                #page .pagination{margin-top: 30px; margin-left: 250px; height: 50px;line-height: 50px;}
                #page .pagination li { float: left;width: 30px;height: 30px;border: 1px solid #000;line-height: 30px;text-align: center;}
                #page .pagination a {font-size: 15px;}
                #page .pagination .active{background: #18f;color: #fff;}  
            </style>
                               <!--分页-->
            <div id="page">{$res->render()}</div>
        </div>
        <div style="clear:both;"></div>
    </div>
    
<script type="text/javascript">
        function deletecollect (obj,id)
        {
            $.get("{:url('user/delcollect')}",{'id':id});
            layer.confirm('确定删除你珍贵的收藏么',{'icon':3},function () {
                $(obj).parent().parent().parent().remove();
                layer.closeAll();
            });
        }

</script>
{include file="public/footer"}
