<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link rel="stylesheet" href="__STATIC__/threemodel/css/amazeui.min.css" />
		<script type="text/javascript" src="__STATIC__/threemodel/js/jquery-1.9.1.min.js"></script>
		<script type="text/javascript" src="__STATIC__/threemodel/js/amazeui.min.js"></script>
		<link rel="stylesheet" href="__STATIC__/threemodel/css/login.css" />
		<link rel="stylesheet" href="__STATIC__/threemodel/css/mui.min.css" />
        <link rel="stylesheet" type="text/css" href="__STATIC__/css/style.css" />
		<script type="text/javascript" src="__STATIC__/threemodel/js/mui.min.js" ></script>
		<script type="text/javascript" src="__STATIC__/threemodel/js/login.js" ></script>
		<!-- <link  type='text/css' href='__STATIC_  _/css/global.css' rel='stylesheet'/> -->
		<link rel="stylesheet" type="text/css" href="__STATIC__/css/public_201703.css">
		<title>Q-Buy 登陆</title>
		<style>
			.sidebar_float{
				display: none;
			}
            input {
                font-family: 微软雅黑;
            }
			.bottomLine{
				border-bottom: 1px solid #ccc;
				border-top: 1px solid #ccc;
				padding-top:8px;
			}
			.bot{
				margin-bottom: 49px;
				color: #7b6f5b;
			}
		</style>
	</head>

	<body>

		<div class="am-g"  style="margin-top:30px;">
			<div style="width: 1200px;margin: 0 auto;">
			<div class="logo" >
				<img src="__STATIC__/images/qbuylogo_s.png" />
			</div>
			<div style="float: right;margin-right: 60px;margin-top: 18px;">
				<span style="float: right;font-size: 12px;margin-left: 5px;color: #7d7d7d;"><span style="background-image: url(__STATIC__/threemodel/img/massageicon.png);width: 20px;height: 20px;margin-top:4px;float: left;background-repeat: no-repeat;margin-right: 8px;"></span>对登录页面的建议</span>
			</div>
			</div>
		</div>
		<div class="am-g content"  style="margin-top: 43px;">
			<div style="width:1200px;margin:0 auto;position: relative;z-index: 999;">
				<div class="loginDiv " style="display: block;"  id="login" >
						<div class="am-u-sm-12" style="padding-right: 0rem">
						<img src="__STATIC__/threemodel/img/erweima.png" style="float: right;height: 58px;" id="loginimg"/ >
						</div>
					<div class="am-u-sm-12" style="padding-left: 30px;padding-right: 30px;">
					<h4 style="font-weight: normal;">欢迎登录</h4><div id="phone" style="margin-top:48px;color:red;height:25px;"></div><span class="left1" style="margin-top:0px"></span>	<input type="text" class="am-form-field"  placeholder="请输入手机号" style="padding-left: 50px;margin-top: 0px;font-size: 12px;"/>
				 </div>

				 <div class="am-u-sm-12" style="margin-top: 0px;padding-left: 30px;padding-right: 30px;"><div id="password" style="height:20px;"></div>
				  <span class="left2"></span>	  <input type="password" class="am-form-field"  placeholder="请输入密码"style="padding-left: 50px;font-size: 12px;"/>
				 </div>
				 <div class="am-u-sm-12" style="margin-top: 12px;padding-left: 30px;padding-right: 30px;font-size: 12px;color: #757575;">
				    <input type="checkbox" style="margin-top:1px;vertical-align:middle;"/><span style="margin-bottom:-1px;margin-left: 10px;font-size: 12px;vertical-align: middle;">自动登录</span>
				 </div>

				<div class="am-u-sm-12" style="margin-top: 45px;padding-left: 30px;padding-right: 30px;">
				<button type="button" class="am-btn am-btn-warning" style="width: 100%;border-radius: 5px;font-size: 16px;" id="loginsub">登录</button>
				</div>
				<div class="am-u-sm-12" style="padding-left: 30px;padding-right: 30px;">
					<p style="width: 100%;margin-top: 15px;font-size: 12px;color: #333333;">忘记登录密码 <span style="float: right;"><a href="{:url('register')}">免费注册</a> </span></p>
				</div>

				</div>
				<!--扫码页面-->
				<div class="loginDiv" style="display: none;" id="erm"  >
						<div class="am-u-sm-12" style="padding-right: 0rem">
						<img src="__STATIC__/threemodel/img/pc_2.png" style="float: right;" id="ermimg" />
						</div>
					<div class="am-u-sm-12" style="padding-left: 30px;padding-right: 30px;margin-top: 30px;text-align: center;">
					<h4 >手机扫码，安全登录</h4>
				</div>
				 <div class="am-u-sm-12" style="padding-left: 30px;padding-right: 30px;margin-top: 50px;text-align: center;">
				 <img src="__STATIC__/threemodel/img/aerweima.png" />
				 </div>

				 <div class="am-u-sm-12" style="margin-top: 50px;padding-left: 30px;padding-right: 30px;text-align: center;">
				  <p style="font-size: 14px;">请使用微信客户端扫描二维码登录</p>
				    <p style="text-align: center;"><span style="background-image: url(img/Download-512.png);float: left;width: 20px;height: 20px;margin-top:5px;background-repeat: no-repeat;margin-left: 100px;"></span>
				</p>
				 </div>
				<div class="am-u-sm-12" style="margin-top: 10px;padding-left: 30px;padding-right: 30px;margin-bottom: 100px;">
				</div>

				</div>
			</div>
		</div>

	<script>
		// $("input[type='checkbox']").on('click', function() {
		// 	console.log($(this).is(':checked'));
		// })

		$("input[type='text']").on('blur', function() {
			if (!$(this).val()) {
				$("#phone").html("手机号不能为空");
			} else {
				$("#phone").html("");
			}
		})

		$("input[type='password']").on('blur', function() {
			if (!$(this).val()) {
				$("#phone").html("密码不能为空");
			} else {
				$("#phone").html("");
			}
		});

		$('#loginsub').on('click', function() {
			if ($("input[type='text']").val() && $("input[type='password']").val()){
				var mobile = $("input[type='text']").val();
				var password = $("input[type='password']").val();
				var checkbox = $("input[type='checkbox']").is(':checked');

				$.ajax({
					"type" : "post",
					"url" : "{:url('loginIn')}",
					"data" : {"mobile":mobile, "password":password, "checkbox":checkbox},
					"success" : success,
					"async" : true,
					'dataType':'json'
				});

				function success(data) {
					if (data == 'null') {
						$("#phone").html("手机号与密码不匹配");
					} else {
						window.location.href="{:url('index/index')}";
					}
				}
			}
		});
	</script>
{include file="public/footer"}